@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?86492874');
  src: url('../font/fontello.eot?86492874#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?86492874') format('woff'),
       url('../font/fontello.ttf?86492874') format('truetype'),
       url('../font/fontello.svg?86492874#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?86492874#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-entypo-note:before { content: '\e300'; } /* '' */
.icon-entypo-note-beamed:before { content: '\e301'; } /* '' */
.icon-entypo-music:before { content: '\e302'; } /* '' */
.icon-entypo-search:before { content: '\e303'; } /* '' */
.icon-entypo-flashlight:before { content: '\e304'; } /* '' */
.icon-entypo-mail:before { content: '\e305'; } /* '' */
.icon-entypo-heart:before { content: '\e306'; } /* '' */
.icon-entypo-heart-empty:before { content: '\e307'; } /* '' */
.icon-entypo-star:before { content: '\e308'; } /* '' */
.icon-entypo-star-empty:before { content: '\e309'; } /* '' */
.icon-entypo-picture:before { content: '\e30e'; } /* '' */
.icon-entypo-camera:before { content: '\e30f'; } /* '' */
.icon-entypo-layout:before { content: '\e310'; } /* '' */
.icon-entypo-menu:before { content: '\e311'; } /* '' */
.icon-entypo-check:before { content: '\e312'; } /* '' */
.icon-entypo-cancel:before { content: '\e313'; } /* '' */
.icon-entypo-tag:before { content: '\e314'; } /* '' */
.icon-entypo-eye:before { content: '\e315'; } /* '' */
.icon-entypo-lock-open:before { content: '\e316'; } /* '' */
.icon-entypo-lock:before { content: '\e317'; } /* '' */
.icon-entypo-attach:before { content: '\e318'; } /* '' */
.icon-entypo-link:before { content: '\e319'; } /* '' */
.icon-entypo-home:before { content: '\e31a'; } /* '' */
.icon-entypo-back:before { content: '\e31b'; } /* '' */
.icon-entypo-info-circled:before { content: '\e31c'; } /* '' */
.icon-entypo-info:before { content: '\e31d'; } /* '' */
.icon-entypo-help-circled:before { content: '\e31e'; } /* '' */
.icon-entypo-help:before { content: '\e31f'; } /* '' */
.icon-entypo-minus-squared:before { content: '\e320'; } /* '' */
.icon-entypo-minus-circled:before { content: '\e321'; } /* '' */
.icon-entypo-minus:before { content: '\e322'; } /* '' */
.icon-entypo-plus-squared:before { content: '\e323'; } /* '' */
.icon-entypo-plus-circled:before { content: '\e324'; } /* '' */
.icon-entypo-plus:before { content: '\e325'; } /* '' */
.icon-entypo-cancel-squared:before { content: '\e326'; } /* '' */
.icon-entypo-cancel-circled:before { content: '\e327'; } /* '' */
.icon-entypo-bookmark:before { content: '\e328'; } /* '' */
.icon-entypo-bookmarks:before { content: '\e329'; } /* '' */
.icon-entypo-thumbs-up:before { content: '\e32a'; } /* '' */
.icon-entypo-flag:before { content: '\e32b'; } /* '' */
.icon-entypo-thumbs-down:before { content: '\e32c'; } /* '' */
.icon-entypo-download:before { content: '\e32d'; } /* '' */
.icon-entypo-upload:before { content: '\e32e'; } /* '' */
.icon-entypo-upload-cloud:before { content: '\e32f'; } /* '' */
.icon-entypo-reply:before { content: '\e330'; } /* '' */
.icon-entypo-reply-all:before { content: '\e331'; } /* '' */
.icon-entypo-forward:before { content: '\e332'; } /* '' */
.icon-entypo-quote:before { content: '\e333'; } /* '' */
.icon-entypo-code:before { content: '\e334'; } /* '' */
.icon-entypo-export:before { content: '\e335'; } /* '' */
.icon-entypo-pencil:before { content: '\e336'; } /* '' */
.icon-entypo-feather:before { content: '\e337'; } /* '' */
.icon-entypo-print:before { content: '\e338'; } /* '' */
.icon-entypo-retweet:before { content: '\e339'; } /* '' */
.icon-entypo-keyboard:before { content: '\e33a'; } /* '' */
.icon-entypo-comment:before { content: '\e33b'; } /* '' */
.icon-booentypo-k:before { content: '\e33c'; } /* '' */
.icon-entypo-book-open:before { content: '\e33d'; } /* '' */
.icon-entypo-newspaper:before { content: '\e33e'; } /* '' */
.icon-entypo-doc-text-inv:before { content: '\e33f'; } /* '' */
.icon-entypo-doc-text:before { content: '\e340'; } /* '' */
.icon-entypo-doc-landscape:before { content: '\e341'; } /* '' */
.icon-entypo-docs:before { content: '\e342'; } /* '' */
.icon-entypo-doc:before { content: '\e343'; } /* '' */
.icon-entypo-trash:before { content: '\e344'; } /* '' */
.icon-entypo-cup:before { content: '\e345'; } /* '' */
.icon-entypo-compass:before { content: '\e346'; } /* '' */
.icon-entypo-direction:before { content: '\e347'; } /* '' */
.icon-entypo-map:before { content: '\e348'; } /* '' */
.icon-entypo-location:before { content: '\e349'; } /* '' */
.icon-entypo-address:before { content: '\e34a'; } /* '' */
.icon-entypo-vcard:before { content: '\e34b'; } /* '' */
.icon-entypo-alert:before { content: '\e34c'; } /* '' */
.icon-entypo-attention:before { content: '\e34d'; } /* '' */
.icon-entypo-bell:before { content: '\e34e'; } /* '' */
.icon-entypo-chat:before { content: '\e34f'; } /* '' */
.icon-entypo-folder:before { content: '\e350'; } /* '' */
.icon-entypo-archive:before { content: '\e351'; } /* '' */
.icon-entypo-box:before { content: '\e352'; } /* '' */
.icon-entypo-rss:before { content: '\e353'; } /* '' */
.icon-entypo-phone:before { content: '\e354'; } /* '' */
.icon-entypo-cog:before { content: '\e355'; } /* '' */
.icon-entypo-tools:before { content: '\e356'; } /* '' */
.icon-entypo-share:before { content: '\e357'; } /* '' */
.icon-entypo-shareable:before { content: '\e358'; } /* '' */
.icon-entypo-basket:before { content: '\e359'; } /* '' */
.icon-entypo-bag:before { content: '\e35a'; } /* '' */
.icon-entypo-calendar:before { content: '\e35b'; } /* '' */
.icon-entypo-login:before { content: '\e35c'; } /* '' */
.icon-entypo-logout:before { content: '\e35d'; } /* '' */
.icon-entypo-mic:before { content: '\e35e'; } /* '' */
.icon-entypo-mute:before { content: '\e35f'; } /* '' */
.icon-entypo-sound:before { content: '\e360'; } /* '' */
.icon-entypo-volume:before { content: '\e361'; } /* '' */
.icon-entypo-clock:before { content: '\e362'; } /* '' */
.icon-entypo-hourglass:before { content: '\e363'; } /* '' */
.icon-entypo-down-open-mini:before { content: '\e364'; } /* '' */
.icon-entypo-up-open:before { content: '\e365'; } /* '' */
.icon-entypo-right-open:before { content: '\e366'; } /* '' */
.icon-entypo-left-open:before { content: '\e367'; } /* '' */
.icon-entypo-down-open:before { content: '\e368'; } /* '' */
.icon-entypo-up-circled:before { content: '\e369'; } /* '' */
.icon-entypo-right-circled:before { content: '\e36a'; } /* '' */
.icon-entypo-left-circled:before { content: '\e36b'; } /* '' */
.icon-entypo-down-circled:before { content: '\e36c'; } /* '' */
.icon-entypo-arrow-combo:before { content: '\e36d'; } /* '' */
.icon-entypo-window:before { content: '\e36e'; } /* '' */
.icon-entypo-publish:before { content: '\e36f'; } /* '' */
.icon-entypo-popup:before { content: '\e370'; } /* '' */
.icon-entypo-resize-small:before { content: '\e371'; } /* '' */
.icon-entypo-resize-full:before { content: '\e372'; } /* '' */
.icon-entypo-block:before { content: '\e373'; } /* '' */
.icon-entypo-adjust:before { content: '\e374'; } /* '' */
.icon-entypo-light-up:before { content: '\e375'; } /* '' */
.icon-entypo-light-down:before { content: '\e376'; } /* '' */
.icon-entypo-lamp:before { content: '\e377'; } /* '' */
.icon-entypo-left-open-mini:before { content: '\e378'; } /* '' */
.icon-entypo-right-open-mini:before { content: '\e379'; } /* '' */
.icon-entypo-up-open-mini:before { content: '\e37a'; } /* '' */
.icon-entypo-down-open-big:before { content: '\e37b'; } /* '' */
.icon-entypo-left-open-big:before { content: '\e37c'; } /* '' */
.icon-entypo-right-open-big:before { content: '\e37d'; } /* '' */
.icon-entypo-up-open-big:before { content: '\e37e'; } /* '' */
.icon-entypo-down:before { content: '\e37f'; } /* '' */
.icon-entypo-left:before { content: '\e380'; } /* '' */
.icon-entypo-right:before { content: '\e381'; } /* '' */
.icon-entypo-up:before { content: '\e382'; } /* '' */
.icon-entypo-down-dir:before { content: '\e383'; } /* '' */
.icon-entypo-left-dir:before { content: '\e384'; } /* '' */
.icon-entypo-right-dir:before { content: '\e385'; } /* '' */
.icon-entypo-up-dir:before { content: '\e386'; } /* '' */
.icon-entypo-down-bold:before { content: '\e387'; } /* '' */
.icon-entypo-left-bold:before { content: '\e388'; } /* '' */
.icon-entypo-right-bold:before { content: '\e389'; } /* '' */
.icon-entypo-up-bold:before { content: '\e38a'; } /* '' */
.icon-entypo-down-thin:before { content: '\e38b'; } /* '' */
.icon-entypo-progress-0:before { content: '\e38c'; } /* '' */
.icon-entypo-fast-backward:before { content: '\e38d'; } /* '' */
.icon-entypo-fast-forward:before { content: '\e38e'; } /* '' */
.icon-entypo-to-start:before { content: '\e38f'; } /* '' */
.icon-entypo-to-end:before { content: '\e390'; } /* '' */
.icon-entypo-record:before { content: '\e391'; } /* '' */
.icon-entypo-pause:before { content: '\e392'; } /* '' */
.icon-entypo-stop:before { content: '\e393'; } /* '' */
.icon-entypo-play:before { content: '\e394'; } /* '' */
.icon-entypo-switch:before { content: '\e395'; } /* '' */
.icon-entypo-loop:before { content: '\e396'; } /* '' */
.icon-entypo-shuffle:before { content: '\e397'; } /* '' */
.icon-entypo-level-up:before { content: '\e398'; } /* '' */
.icon-entypo-level-down:before { content: '\e399'; } /* '' */
.icon-entypo-arrows-ccw:before { content: '\e39a'; } /* '' */
.icon-entypo-cw:before { content: '\e39b'; } /* '' */
.icon-entypo-ccw:before { content: '\e39c'; } /* '' */
.icon-entypo-up-thin:before { content: '\e39d'; } /* '' */
.icon-entypo-right-thin:before { content: '\e39e'; } /* '' */
.icon-entypo-left-thin:before { content: '\e39f'; } /* '' */
.icon-entypo-progress-1:before { content: '\e3a0'; } /* '' */
.icon-entypo-progress-2:before { content: '\e3a1'; } /* '' */
.icon-entypo-progress-3:before { content: '\e3a2'; } /* '' */
.icon-entypo-target:before { content: '\e3a3'; } /* '' */
.icon-entypo-palette:before { content: '\e3a4'; } /* '' */
.icon-entypo-list:before { content: '\e3a5'; } /* '' */
.icon-entypo-list-add:before { content: '\e3a6'; } /* '' */
.icon-entypo-signal:before { content: '\e3a7'; } /* '' */
.icon-entypo-trophy:before { content: '\e3a8'; } /* '' */
.icon-entypo-battery:before { content: '\e3a9'; } /* '' */
.icon-entypo-back-in-time:before { content: '\e3aa'; } /* '' */
.icon-entypo-monitor:before { content: '\e3ab'; } /* '' */
.icon-entypo-mobile:before { content: '\e3ac'; } /* '' */
.icon-entypo-network:before { content: '\e3ad'; } /* '' */
.icon-entypo-cd:before { content: '\e3ae'; } /* '' */
.icon-entypo-inbox:before { content: '\e3af'; } /* '' */
.icon-entypo-globe:before { content: '\e3b0'; } /* '' */
.icon-entypo-cloud:before { content: '\e3b1'; } /* '' */
.icon-entypo-cloud-thunder:before { content: '\e3b2'; } /* '' */
.icon-entypo-chart-area:before { content: '\e3b3'; } /* '' */
.icon-entypo-chart-bar:before { content: '\e3b4'; } /* '' */
.icon-entypo-chart-line:before { content: '\e3b5'; } /* '' */
.icon-entypo-chart-pie:before { content: '\e3b6'; } /* '' */
.icon-entypo-erase:before { content: '\e3b7'; } /* '' */
.icon-entypo-infinity:before { content: '\e3b8'; } /* '' */
.icon-entypo-magnet:before { content: '\e3b9'; } /* '' */
.icon-entypo-brush:before { content: '\e3ba'; } /* '' */
.icon-entypo-dot-3:before { content: '\e3bb'; } /* '' */
.icon-entypo-dot-2:before { content: '\e3bc'; } /* '' */
.icon-entypo-dot:before { content: '\e3bd'; } /* '' */
.icon-entypo-suitcase:before { content: '\e3be'; } /* '' */
.icon-entypo-briefcase:before { content: '\e3bf'; } /* '' */
.icon-entypo-mouse:before { content: '\e3c0'; } /* '' */
.icon-entypo-lifebuoy:before { content: '\e3c1'; } /* '' */
.icon-entypo-leaf:before { content: '\e3c2'; } /* '' */
.icon-entypo-paper-plane:before { content: '\e3c3'; } /* '' */
.icon-entypo-flight:before { content: '\e3c4'; } /* '' */
.icon-entypo-moon:before { content: '\e3c5'; } /* '' */
.icon-entypo-flash:before { content: '\e3c6'; } /* '' */
.icon-entypo-tape:before { content: '\e3c7'; } /* '' */
.icon-entypo-graduation-cap:before { content: '\e3c8'; } /* '' */
.icon-entypo-language:before { content: '\e3c9'; } /* '' */
.icon-entypo-ticket:before { content: '\e3ca'; } /* '' */
.icon-entypo-water:before { content: '\e3cb'; } /* '' */
.icon-entypo-droplet:before { content: '\e3cc'; } /* '' */
.icon-entypo-air:before { content: '\e3cd'; } /* '' */
.icon-entypo-credit-card:before { content: '\e3ce'; } /* '' */
.icon-entypo-floppy:before { content: '\e3cf'; } /* '' */
.icon-entypo-clipboard:before { content: '\e3d0'; } /* '' */
.icon-entypo-megaphone:before { content: '\e3d1'; } /* '' */
.icon-entypo-database:before { content: '\e3d2'; } /* '' */
.icon-entypo-drive:before { content: '\e3d3'; } /* '' */
.icon-entypo-bucket:before { content: '\e3d4'; } /* '' */
.icon-entypo-thermometer:before { content: '\e3d5'; } /* '' */
.icon-entypo-key:before { content: '\e3d6'; } /* '' */
.icon-entypo-flow-cascade:before { content: '\e3d7'; } /* '' */
.icon-entypo-flow-branch:before { content: '\e3d8'; } /* '' */
.icon-entypo-flow-tree:before { content: '\e3d9'; } /* '' */
.icon-entypo-flow-line:before { content: '\e3da'; } /* '' */
.icon-entypo-install:before { content: '\e3db'; } /* '' */
.icon-entypo-vimeo:before { content: '\e3dc'; } /* '' */
.icon-entypo-flickr-circled:before { content: '\e3dd'; } /* '' */
.icon-entypo-flickr:before { content: '\e3de'; } /* '' */
.icon-entypo-github-circled:before { content: '\e3df'; } /* '' */
.icon-entypo-github:before { content: '\e3e0'; } /* '' */
.icon-entypo-cc-remix:before { content: '\e3e1'; } /* '' */
.icon-entypo-cc-share:before { content: '\e3e2'; } /* '' */
.icon-entypo-cc-zero:before { content: '\e3e3'; } /* '' */
.icon-entypo-cc-pd:before { content: '\e3e4'; } /* '' */
.icon-entypo-cc-nd:before { content: '\e3e5'; } /* '' */
.icon-entypo-cc-sa:before { content: '\e3e6'; } /* '' */
.icon-entypo-cc-nc-jp:before { content: '\e3e7'; } /* '' */
.icon-entypo-cc-nc-eu:before { content: '\e3e8'; } /* '' */
.icon-entypo-cc-nc:before { content: '\e3e9'; } /* '' */
.icon-entypo-cc-by:before { content: '\e3ea'; } /* '' */
.icon-entypo-cc:before { content: '\e3eb'; } /* '' */
.icon-entypo-traffic-cone:before { content: '\e3ec'; } /* '' */
.icon-entypo-gauge:before { content: '\e3ed'; } /* '' */
.icon-entypo-rocket:before { content: '\e3ee'; } /* '' */
.icon-entypo-flow-parallel:before { content: '\e3ef'; } /* '' */
.icon-entypo-vimeo-circled:before { content: '\e3f0'; } /* '' */
.icon-entypo-twitter:before { content: '\e3f1'; } /* '' */
.icon-entypo-twitter-circled:before { content: '\e3f2'; } /* '' */
.icon-entypo-facebook:before { content: '\e3f3'; } /* '' */
.icon-entypo-facebook-circled:before { content: '\e3f4'; } /* '' */
.icon-entypo-facebook-squared:before { content: '\e3f5'; } /* '' */
.icon-entypo-gplus:before { content: '\e3f6'; } /* '' */
.icon-entypo-gplus-circled:before { content: '\e3f7'; } /* '' */
.icon-entypo-pinterest:before { content: '\e3f8'; } /* '' */
.icon-entypo-pinterest-circled:before { content: '\e3f9'; } /* '' */
.icon-entypo-tumblr:before { content: '\e3fa'; } /* '' */
.icon-entypo-tumblr-circled:before { content: '\e3fb'; } /* '' */
.icon-entypo-linkedin:before { content: '\e3fc'; } /* '' */
.icon-entypo-linkedin-circled:before { content: '\e3fd'; } /* '' */
.icon-entypo-dribbble:before { content: '\e3fe'; } /* '' */
.icon-entypo-dribbble-circled:before { content: '\e3ff'; } /* '' */
.icon-entypo-stumbleupon:before { content: '\e400'; } /* '' */
.icon-entypo-stumbleupon-circled:before { content: '\e401'; } /* '' */
.icon-entypo-lastfm:before { content: '\e402'; } /* '' */
.icon-entypo-lastfm-circled:before { content: '\e403'; } /* '' */
.icon-entypo-vkontakte:before { content: '\e404'; } /* '' */
.icon-entypo-google-circles:before { content: '\e405'; } /* '' */
.icon-entypo-behance:before { content: '\e406'; } /* '' */
.icon-entypo-mixi:before { content: '\e407'; } /* '' */
.icon-entypo-soundcloud:before { content: '\e408'; } /* '' */
.icon-entypo-picasa:before { content: '\e409'; } /* '' */
.icon-entypo-paypal:before { content: '\e40a'; } /* '' */
.icon-entypo-sina-weibo:before { content: '\e40b'; } /* '' */
.icon-entypo-renren:before { content: '\e40c'; } /* '' */
.icon-entypo-skype-circled:before { content: '\e40d'; } /* '' */
.icon-entypo-skype:before { content: '\e40e'; } /* '' */
.icon-entypo-flattr:before { content: '\e40f'; } /* '' */
.icon-entypo-evernote:before { content: '\e410'; } /* '' */
.icon-entypo-dropbox:before { content: '\e411'; } /* '' */
.icon-entypo-instagram:before { content: '\e412'; } /* '' */
.icon-entypo-qq:before { content: '\e413'; } /* '' */
.icon-entypo-spotify-circled:before { content: '\e414'; } /* '' */
.icon-entypo-spotify:before { content: '\e415'; } /* '' */
.icon-entypo-rdio-circled:before { content: '\e416'; } /* '' */
.icon-entypo-rdio:before { content: '\e417'; } /* '' */
.icon-entypo-smashing:before { content: '\e418'; } /* '' */
.icon-entypo-sweden:before { content: '\e419'; } /* '' */
.icon-entypo-db-shape:before { content: '\e41a'; } /* '' */
.icon-entypo-logo-db:before { content: '\e41b'; } /* '' */
.icon-entypo-user:before { content: '\e90a'; } /* '' */
.icon-entypo-users:before { content: '\e90b'; } /* '' */
.icon-entypo-user-add:before { content: '\e90c'; } /* '' */
.icon-entypo-video:before { content: '\e90d'; } /* '' */