@charset "UTF-8";

 
.icon-mfgl-search:before { content: '\cc00'; } /* '찀' */
.icon-mfgl-mail:before { content: '\cc01'; } /* '찁' */
.icon-mfgl-heart-broken:before { content: '\cc03'; } /* '찃' */
.icon-mfgl-star:before { content: '\cc04'; } /* '찄' */
.icon-mfgl-star-empty:before { content: '\cc05'; } /* '찅' */
.icon-mfgl-star-half:before { content: '\cc06'; } /* '찆' */
.icon-mfgl-star-half_empty:before { content: '\cc07'; } /* '찇' */
.icon-mfgl-user:before { content: '\cc08'; } /* '찈' */
.icon-mfgl-user-male:before { content: '\cc09'; } /* '찉' */
.icon-mfgl-user-female:before { content: '\cc0a'; } /* '찊' */
.icon-mfgl-users:before { content: '\cc0b'; } /* '찋' */
.icon-mfgl-movie:before { content: '\cc0c'; } /* '찌' */
.icon-mfgl-videocam:before { content: '\cc0d'; } /* '찍' */
.icon-mfgl-isight:before { content: '\cc0e'; } /* '찎' */
.icon-mfgl-camera:before { content: '\cc0f'; } /* '찏' */
.icon-mfgl-menu:before { content: '\cc10'; } /* '찐' */
.icon-mfgl-th-thumb:before { content: '\cc11'; } /* '찑' */
.icon-mfgl-th-thumb-empty:before { content: '\cc12'; } /* '찒' */
.icon-mfgl-th-list:before { content: '\cc13'; } /* '찓' */
.icon-mfgl-download-cloud:before { content: '\cc14'; } /* '찔' */
.icon-mfgl-upload:before { content: '\cc15'; } /* '찕' */
.icon-mfgl-download:before { content: '\cc16'; } /* '찖' */
.icon-mfgl-eye:before { content: '\cc17'; } /* '찗' */
.icon-mfgl-lock-open-alt:before { content: '\cc18'; } /* '찘' */
.icon-mfgl-lock-open:before { content: '\cc19'; } /* '찙' */
.icon-mfgl-lock-alt:before { content: '\cc1a'; } /* '찚' */
.icon-mfgl-lock:before { content: '\cc1b'; } /* '찛' */
.icon-mfgl-attach:before { content: '\cc1c'; } /* '찜' */
.icon-mfgl-link:before { content: '\cc1d'; } /* '찝' */
.icon-mfgl-home:before { content: '\cc1e'; } /* '찞' */
.icon-mfgl-info-circled-alt:before { content: '\cc1f'; } /* '찟' */
.icon-mfgl-info-circled:before { content: '\cc20'; } /* '찠' */
.icon-mfgl-help-circled-alt:before { content: '\cc21'; } /* '찡' */
.icon-mfgl-help-circled:before { content: '\cc22'; } /* '찢' */
.icon-mfgl-cancel-circled:before { content: '\cc23'; } /* '찣' */
.icon-mfgl-plus:before { content: '\cc24'; } /* '찤' */
.icon-mfgl-cancel:before { content: '\cc25'; } /* '찥' */
.icon-mfgl-ok-circled:before { content: '\cc26'; } /* '찦' */
.icon-mfgl-ok:before { content: '\cc27'; } /* '찧' */
.icon-mfgl-upload-cloud:before { content: '\cc28'; } /* '차' */
.icon-mfgl-reply:before { content: '\cc29'; } /* '착' */
.icon-mfgl-pencil:before { content: '\cc2a'; } /* '찪' */
.icon-mfgl-export:before { content: '\cc2b'; } /* '찫' */
.icon-mfgl-print:before { content: '\cc2c'; } /* '찬' */
.icon-mfgl-comment:before { content: '\cc2e'; } /* '찮' */
.icon-mfgl-chat:before { content: '\cc2f'; } /* '찯' */
.icon-mfgl-bell:before { content: '\cc30'; } /* '찰' */
.icon-mfgl-attention:before { content: '\cc31'; } /* '찱' */
.icon-mfgl-attention-alt:before { content: '\cc32'; } /* '찲' */
.icon-mfgl-location:before { content: '\cc33'; } /* '찳' */
.icon-mfgl-trash:before { content: '\cc34'; } /* '찴' */
.icon-mfgl-doc:before { content: '\cc35'; } /* '찵' */
.icon-mfgl-newspaper:before { content: '\cc36'; } /* '찶' */
.icon-mfgl-folder:before { content: '\cc37'; } /* '찷' */
.icon-mfgl-folder-open:before { content: '\cc38'; } /* '참' */
.icon-mfgl-folder-empty:before { content: '\cc39'; } /* '찹' */
.icon-mfgl-folder-open-empty:before { content: '\cc3a'; } /* '찺' */
.icon-mfgl-cog:before { content: '\cc3b'; } /* '찻' */
.icon-mfgl-left-bold:before { content: '\cc3c'; } /* '찼' */
.icon-mfgl-down-bold:before { content: '\cc3d'; } /* '창' */
.icon-mfgl-up:before { content: '\cc3e'; } /* '찾' */
.icon-mfgl-right:before { content: '\cc3f'; } /* '찿' */
.icon-mfgl-left:before { content: '\cc40'; } /* '챀' */
.icon-mfgl-down:before { content: '\cc41'; } /* '챁' */
.icon-mfgl-up-open:before { content: '\cc42'; } /* '챂' */
.icon-mfgl-right-open:before { content: '\cc43'; } /* '챃' */
.icon-mfgl-left-open:before { content: '\cc44'; } /* '채' */
.icon-mfgl-down-open:before { content: '\cc45'; } /* '책' */
.icon-mfgl-zoom-out:before { content: '\cc46'; } /* '챆' */
.icon-mfgl-zoom-in:before { content: '\cc47'; } /* '챇' */
.icon-mfgl-hourglass:before { content: '\cc48'; } /* '챈' */
.icon-mfgl-stopwatch:before { content: '\cc49'; } /* '챉' */
.icon-mfgl-clock:before { content: '\cc4a'; } /* '챊' */
.icon-mfgl-mic-off:before { content: '\cc4b'; } /* '챋' */
.icon-mfgl-mic:before { content: '\cc4c'; } /* '챌' */
.icon-mfgl-logout:before { content: '\cc4d'; } /* '챍' */
.icon-mfgl-login:before { content: '\cc4e'; } /* '챎' */
.icon-mfgl-calendar:before { content: '\cc4f'; } /* '챏' */
.icon-mfgl-right-bold:before { content: '\cc50'; } /* '챐' */
.icon-mfgl-up-bold:before { content: '\cc51'; } /* '챑' */
.icon-mfgl-down-fat:before { content: '\cc52'; } /* '챒' */
.icon-mfgl-left-fat:before { content: '\cc53'; } /* '챓' */
.icon-mfgl-right-fat:before { content: '\cc54'; } /* '챔' */
.icon-mfgl-up-fat:before { content: '\cc55'; } /* '챕' */
.icon-mfgl-ccw:before { content: '\cc56'; } /* '챖' */
.icon-mfgl-shuffle:before { content: '\cc57'; } /* '챗' */
.icon-mfgl-play:before { content: '\cc58'; } /* '챘' */
.icon-mfgl-pause:before { content: '\cc59'; } /* '챙' */
.icon-mfgl-stop:before { content: '\cc5a'; } /* '챚' */
.icon-mfgl-to-end:before { content: '\cc5b'; } /* '챛' */
.icon-mfgl-fast-forward:before { content: '\cc5c'; } /* '챜' */
.icon-mfgl-to-start:before { content: '\cc5d'; } /* '챝' */
.icon-mfgl-fast-backward:before { content: '\cc5e'; } /* '챞' */
.icon-mfgl-trophy:before { content: '\cc5f'; } /* '챟' */
.icon-mfgl-monitor:before { content: '\cc60'; } /* '챠' */
.icon-mfgl-tablet:before { content: '\cc61'; } /* '챡' */
.icon-mfgl-mobile:before { content: '\cc62'; } /* '챢' */
.icon-mfgl-data-science:before { content: '\cc63'; } /* '챣' */
.icon-mfgl-connected-object:before { content: '\cc64'; } /* '챤' */
.icon-mfgl-hdd:before { content: '\cc65'; } /* '챥' */
.icon-mfgl-chart-bar:before { content: '\cc66'; } /* '챦' */
.icon-mfgl-fire:before { content: '\cc67'; } /* '챧' */
.icon-mfgl-color-adjust:before { content: '\cc68'; } /* '챨' */
.icon-mfgl-fontsize:before { content: '\cc69'; } /* '챩' */
.icon-mfgl-paper-plane-alt2:before { content: '\cc6a'; } /* '챪' */
.icon-mfgl-paper-plane-alt:before { content: '\cc6b'; } /* '챫' */
.icon-mfgl-paper-plane:before { content: '\cc6c'; } /* '챬' */
.icon-mfgl-math-circled:before { content: '\cc6d'; } /* '챭' */
.icon-mfgl-math-circled-empty:before { content: '\cc6e'; } /* '챮' */
.icon-mfgl-math:before { content: '\cc6f'; } /* '챯' */
.icon-mfgl-coverflow-empty:before { content: '\cc70'; } /* '챰' */
.icon-mfgl-coverflow:before { content: '\cc71'; } /* '챱' */
.icon-mfgl-flash:before { content: '\cc72'; } /* '챲' */
.icon-mfgl-cloud:before { content: '\cc73'; } /* '챳' */
.icon-mfgl-inbox:before { content: '\cc74'; } /* '챴' */
.icon-mfgl-globe:before { content: '\cc75'; } /* '챵' */
.icon-mfgl-globe-inv:before { content: '\cc76'; } /* '챶' */
.icon-mfgl-data-science-inv:before { content: '\cc77'; } /* '챷' */
.icon-mfgl-ruler:before { content: '\cc78'; } /* '챸' */
.icon-mfgl-vector:before { content: '\cc79'; } /* '챹' */
.icon-mfgl-vector-pencil:before { content: '\cc7a'; } /* '챺' */
.icon-mfgl-at:before { content: '\cc7b'; } /* '챻' */
.icon-mfgl-hash:before { content: '\cc7c'; } /* '챼' */
.icon-mfgl-female:before { content: '\cc7d'; } /* '챽' */
.icon-mfgl-male:before { content: '\cc7e'; } /* '챾' */
.icon-mfgl-spread:before { content: '\cc7f'; } /* '챿' */
.icon-mfgl-king:before { content: '\cc80'; } /* '첀' */
.icon-mfgl-anchor:before { content: '\cc81'; } /* '첁' */
.icon-mfgl-joystick:before { content: '\cc82'; } /* '첂' */
.icon-mfgl-spinner1:before { content: '\cc83'; } /* '첃' */
.icon-mfgl-github:before { content: '\cc84'; } /* '첄' */
.icon-mfgl-spinner2:before { content: '\cc85'; } /* '첅' */
.icon-mfgl-github-circled:before { content: '\cc86'; } /* '첆' */
.icon-mfgl-github-circled-alt:before { content: '\cc87'; } /* '첇' */
.icon-mfgl-github-circled-alt2:before { content: '\cc88'; } /* '첈' */
.icon-mfgl-twitter:before { content: '\cc89'; } /* '첉' */
.icon-mfgl-facebook:before { content: '\cc8a'; } /* '첊' */
.icon-mfgl-twitter-circled:before { content: '\cc8b'; } /* '첋' */
.icon-mfgl-facebook-circled:before { content: '\cc8c'; } /* '첌' */
.icon-mfgl-gplus:before { content: '\cc8d'; } /* '첍' */
.icon-mfgl-gplus-circled:before { content: '\cc8e'; } /* '첎' */
.icon-mfgl-linkedin:before { content: '\cc8f'; } /* '첏' */
.icon-mfgl-linkedin-circled:before { content: '\cc90'; } /* '첐' */
.icon-mfgl-dribbble:before { content: '\cc91'; } /* '첑' */
.icon-mfgl-dribbble-circled:before { content: '\cc92'; } /* '첒' */
.icon-mfgl-instagram:before { content: '\cc93'; } /* '첓' */
.icon-mfgl-instagram-circled:before { content: '\cc94'; } /* '첔' */
.icon-mfgl-soundcloud:before { content: '\cc95'; } /* '첕' */
.icon-mfgl-soundcloud-circled:before { content: '\cc96'; } /* '첖' */
.icon-mfgl-mfg-logo:before { content: '\cc97'; } /* '첗' */
.icon-mfgl-mfg-logo-circled:before { content: '\cc98'; } /* '처' */
.icon-mfgl-heart:before { content: '󌠂'; } /* '\cc802' */
.icon-mfgl-retweet:before { content: '󌠭'; } /* '\cc82d' */