[class^="icon-"], [class*=" icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
 
  /* fix buttons height */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}
 
.icon-elusive-path { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd100;&nbsp;'); }
.icon-elusive-picasa { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd101;&nbsp;'); }
.icon-elusive-pinterest { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd102;&nbsp;'); }
.icon-elusive-reddit { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd103;&nbsp;'); }
.icon-elusive-youtube { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd104;&nbsp;'); }
.icon-elusive-wordpress { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd105;&nbsp;'); }
.icon-elusive-w3c { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd106;&nbsp;'); }
.icon-elusive-vkontakte { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd107;&nbsp;'); }
.icon-elusive-vimeo { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd108;&nbsp;'); }
.icon-elusive-tumblr { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd109;&nbsp;'); }
.icon-elusive-twitter { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd10a;&nbsp;'); }
.icon-elusive-stumbleupon { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd10b;&nbsp;'); }
.icon-elusive-stackoverflow { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd10c;&nbsp;'); }
.icon-elusive-slideshare { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd10d;&nbsp;'); }
.icon-elusive-skype { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd10e;&nbsp;'); }
.icon-elusive-torso { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd10f;&nbsp;'); }
.icon-elusive-video { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd110;&nbsp;'); }
.icon-elusive-video-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd111;&nbsp;'); }
.icon-elusive-video-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd112;&nbsp;'); }
.icon-elusive-videocam { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd113;&nbsp;'); }
.icon-elusive-help { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd114;&nbsp;'); }
.icon-elusive-minus-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd115;&nbsp;'); }
.icon-elusive-minus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd116;&nbsp;'); }
.icon-elusive-plus-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd117;&nbsp;'); }
.icon-elusive-plus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd118;&nbsp;'); }
.icon-elusive-cancel-circled2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd119;&nbsp;'); }
.icon-elusive-cancel-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd11a;&nbsp;'); }
.icon-elusive-cancel { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd11b;&nbsp;'); }
.icon-elusive-ok-circled2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd11c;&nbsp;'); }
.icon-elusive-ok-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd11d;&nbsp;'); }
.icon-elusive-ok { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd11e;&nbsp;'); }
.icon-elusive-view-mode { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd11f;&nbsp;'); }
.icon-elusive-th-list { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd120;&nbsp;'); }
.icon-elusive-th { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd121;&nbsp;'); }
.icon-elusive-th-large { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd122;&nbsp;'); }
.icon-elusive-photo { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd123;&nbsp;'); }
.icon-elusive-photo-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd124;&nbsp;'); }
.icon-elusive-camera { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd125;&nbsp;'); }
.icon-elusive-picture { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd126;&nbsp;'); }
.icon-elusive-video-chat { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd127;&nbsp;'); }
.icon-elusive-help-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd128;&nbsp;'); }
.icon-elusive-info-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd129;&nbsp;'); }
.icon-elusive-home { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd12a;&nbsp;'); }
.icon-elusive-home-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd12b;&nbsp;'); }
.icon-elusive-website { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd12c;&nbsp;'); }
.icon-elusive-website-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd12d;&nbsp;'); }
.icon-elusive-attach { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd12e;&nbsp;'); }
.icon-elusive-attach-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd12f;&nbsp;'); }
.icon-elusive-lock { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd130;&nbsp;'); }
.icon-elusive-lock-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd131;&nbsp;'); }
.icon-elusive-lock-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd132;&nbsp;'); }
.icon-elusive-lock-open-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd133;&nbsp;'); }
.icon-elusive-eye { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd134;&nbsp;'); }
.icon-elusive-eye-off { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd135;&nbsp;'); }
.icon-elusive-tag { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd136;&nbsp;'); }
.icon-elusive-tags { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd137;&nbsp;'); }
.icon-elusive-bookmark { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd138;&nbsp;'); }
.icon-elusive-bookmark-empty { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd139;&nbsp;'); }
.icon-elusive-flag { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd13a;&nbsp;'); }
.icon-elusive-flag-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd13b;&nbsp;'); }
.icon-elusive-warning { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd13c;&nbsp;'); }
.icon-elusive-bell { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd13d;&nbsp;'); }
.icon-elusive-comment-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd13e;&nbsp;'); }
.icon-elusive-comment { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd13f;&nbsp;'); }
.icon-elusive-retweet { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd140;&nbsp;'); }
.icon-elusive-print { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd141;&nbsp;'); }
.icon-elusive-edit-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd142;&nbsp;'); }
.icon-elusive-edit-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd143;&nbsp;'); }
.icon-elusive-edit { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd144;&nbsp;'); }
.icon-elusive-pencil-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd145;&nbsp;'); }
.icon-elusive-pencil { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd146;&nbsp;'); }
.icon-elusive-export { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd147;&nbsp;'); }
.icon-elusive-quote-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd148;&nbsp;'); }
.icon-elusive-quote { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd149;&nbsp;'); }
.icon-elusive-share { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd14a;&nbsp;'); }
.icon-elusive-upload { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd14b;&nbsp;'); }
.icon-elusive-download-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd14c;&nbsp;'); }
.icon-elusive-download { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd14d;&nbsp;'); }
.icon-elusive-thumbs-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd14e;&nbsp;'); }
.icon-elusive-thumbs-up { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd14f;&nbsp;'); }
.icon-elusive-exclamation { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd150;&nbsp;'); }
.icon-elusive-error { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd151;&nbsp;'); }
.icon-elusive-error-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd152;&nbsp;'); }
.icon-elusive-location { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd153;&nbsp;'); }
.icon-elusive-location-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd154;&nbsp;'); }
.icon-elusive-compass { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd155;&nbsp;'); }
.icon-elusive-compass-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd156;&nbsp;'); }
.icon-elusive-trash { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd157;&nbsp;'); }
.icon-elusive-trash-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd158;&nbsp;'); }
.icon-elusive-doc { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd159;&nbsp;'); }
.icon-elusive-doc-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd15a;&nbsp;'); }
.icon-elusive-doc-new { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd15b;&nbsp;'); }
.icon-elusive-doc-new-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd15c;&nbsp;'); }
.icon-elusive-folder-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd15e;&nbsp;'); }
.icon-elusive-folder-close { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd15f;&nbsp;'); }
.icon-elusive-folder-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd160;&nbsp;'); }
.icon-elusive-rss { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd161;&nbsp;'); }
.icon-elusive-phone { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd162;&nbsp;'); }
.icon-elusive-phone-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd163;&nbsp;'); }
.icon-elusive-lightbulb-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd164;&nbsp;'); }
.icon-elusive-lightbulb { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd165;&nbsp;'); }
.icon-elusive-clock-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd166;&nbsp;'); }
.icon-elusive-clock { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd167;&nbsp;'); }
.icon-elusive-headphones { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd168;&nbsp;'); }
.icon-elusive-volume-up { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd169;&nbsp;'); }
.icon-elusive-volume { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd16a;&nbsp;'); }
.icon-elusive-volume-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd16b;&nbsp;'); }
.icon-elusive-volume-off { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd16c;&nbsp;'); }
.icon-elusive-mic-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd16d;&nbsp;'); }
.icon-elusive-mic { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd16e;&nbsp;'); }
.icon-elusive-calendar-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd16f;&nbsp;'); }
.icon-elusive-calendar { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd170;&nbsp;'); }
.icon-elusive-basket-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd171;&nbsp;'); }
.icon-elusive-basket { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd172;&nbsp;'); }
.icon-elusive-wrench-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd173;&nbsp;'); }
.icon-elusive-wrench { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd174;&nbsp;'); }
.icon-elusive-cogs { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd175;&nbsp;'); }
.icon-elusive-cog-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd176;&nbsp;'); }
.icon-elusive-cog { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd177;&nbsp;'); }
.icon-elusive-block { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd178;&nbsp;'); }
.icon-elusive-resize-full { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd179;&nbsp;'); }
.icon-elusive-resize-full-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd17a;&nbsp;'); }
.icon-elusive-resize-small { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd17b;&nbsp;'); }
.icon-elusive-resize-vertical { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd17c;&nbsp;'); }
.icon-elusive-resize-horizontal { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd17d;&nbsp;'); }
.icon-elusive-move { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd17e;&nbsp;'); }
.icon-elusive-zoom-in { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd17f;&nbsp;'); }
.icon-elusive-zoom-out { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd180;&nbsp;'); }
.icon-elusive-down-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd181;&nbsp;'); }
.icon-elusive-left-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd182;&nbsp;'); }
.icon-elusive-right-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd183;&nbsp;'); }
.icon-elusive-up-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd184;&nbsp;'); }
.icon-elusive-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd185;&nbsp;'); }
.icon-elusive-left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd186;&nbsp;'); }
.icon-elusive-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd187;&nbsp;'); }
.icon-elusive-up { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd188;&nbsp;'); }
.icon-elusive-down-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd189;&nbsp;'); }
.icon-elusive-left-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd18a;&nbsp;'); }
.icon-elusive-right-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd18b;&nbsp;'); }
.icon-elusive-backward-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd18c;&nbsp;'); }
.icon-elusive-backward { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd18d;&nbsp;'); }
.icon-elusive-eject { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd18e;&nbsp;'); }
.icon-elusive-record { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd18f;&nbsp;'); }
.icon-elusive-pause-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd190;&nbsp;'); }
.icon-elusive-pause { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd191;&nbsp;'); }
.icon-elusive-stop-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd192;&nbsp;'); }
.icon-elusive-stop { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd193;&nbsp;'); }
.icon-elusive-play-circled2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd194;&nbsp;'); }
.icon-elusive-play { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd195;&nbsp;'); }
.icon-elusive-play-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd196;&nbsp;'); }
.icon-elusive-shuffle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd197;&nbsp;'); }
.icon-elusive-arrows-cw { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd198;&nbsp;'); }
.icon-elusive-cw-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd199;&nbsp;'); }
.icon-elusive-cw { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd19a;&nbsp;'); }
.icon-elusive-up-hand { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd19b;&nbsp;'); }
.icon-elusive-right-hand { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd19c;&nbsp;'); }
.icon-elusive-left-hand { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd19d;&nbsp;'); }
.icon-elusive-down-hand { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd19e;&nbsp;'); }
.icon-elusive-up-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd19f;&nbsp;'); }
.icon-elusive-fast-backward { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1a0;&nbsp;'); }
.icon-elusive-fast-forward { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1a1;&nbsp;'); }
.icon-elusive-forward { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1a2;&nbsp;'); }
.icon-elusive-forward-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1a3;&nbsp;'); }
.icon-elusive-step-backward { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1a4;&nbsp;'); }
.icon-elusive-step-forward { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1a5;&nbsp;'); }
.icon-elusive-target { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1a6;&nbsp;'); }
.icon-elusive-signal { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1a7;&nbsp;'); }
.icon-elusive-desktop { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1a8;&nbsp;'); }
.icon-elusive-desktop-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1a9;&nbsp;'); }
.icon-elusive-laptop-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1aa;&nbsp;'); }
.icon-elusive-laptop { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1ab;&nbsp;'); }
.icon-elusive-network { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1ac;&nbsp;'); }
.icon-elusive-inbox { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1ad;&nbsp;'); }
.icon-elusive-inbox-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1ae;&nbsp;'); }
.icon-elusive-inbox-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1af;&nbsp;'); }
.icon-elusive-globe { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1b0;&nbsp;'); }
.icon-elusive-globe-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1b1;&nbsp;'); }
.icon-elusive-cloud { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1b2;&nbsp;'); }
.icon-elusive-cloud-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1b3;&nbsp;'); }
.icon-elusive-barcode { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1b4;&nbsp;'); }
.icon-elusive-qrcode { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1b5;&nbsp;'); }
.icon-elusive-road { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1b6;&nbsp;'); }
.icon-elusive-off { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1b7;&nbsp;'); }
.icon-elusive-briefcase { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1b8;&nbsp;'); }
.icon-elusive-indent-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1b9;&nbsp;'); }
.icon-elusive-indent-left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1ba;&nbsp;'); }
.icon-elusive-list { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1bb;&nbsp;'); }
.icon-elusive-align-justify { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1bc;&nbsp;'); }
.icon-elusive-align-right { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1bd;&nbsp;'); }
.icon-elusive-align-center { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1be;&nbsp;'); }
.icon-elusive-align-left { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1bf;&nbsp;'); }
.icon-elusive-text-width { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1c0;&nbsp;'); }
.icon-elusive-text-height { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1c1;&nbsp;'); }
.icon-elusive-italic { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1c2;&nbsp;'); }
.icon-elusive-bold { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1c3;&nbsp;'); }
.icon-elusive-fontsize { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1c4;&nbsp;'); }
.icon-elusive-font { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1c5;&nbsp;'); }
.icon-elusive-leaf { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1c6;&nbsp;'); }
.icon-elusive-flight { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1c7;&nbsp;'); }
.icon-elusive-braille { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1c8;&nbsp;'); }
.icon-elusive-book { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1c9;&nbsp;'); }
.icon-elusive-adjust { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1ca;&nbsp;'); }
.icon-elusive-tint { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1cb;&nbsp;'); }
.icon-elusive-check { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1cc;&nbsp;'); }
.icon-elusive-check-empty { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1cd;&nbsp;'); }
.icon-elusive-asterisk { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1ce;&nbsp;'); }
.icon-elusive-gift { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1cf;&nbsp;'); }
.icon-elusive-fire { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1d0;&nbsp;'); }
.icon-elusive-magnet { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1d1;&nbsp;'); }
.icon-elusive-chart { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1d2;&nbsp;'); }
.icon-elusive-chart-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1d3;&nbsp;'); }
.icon-elusive-credit-card { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1d4;&nbsp;'); }
.icon-elusive-megaphone { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1d5;&nbsp;'); }
.icon-elusive-clipboard { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1d6;&nbsp;'); }
.icon-elusive-hdd { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1d7;&nbsp;'); }
.icon-elusive-key { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1d8;&nbsp;'); }
.icon-elusive-certificate { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1d9;&nbsp;'); }
.icon-elusive-tasks { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1da;&nbsp;'); }
.icon-elusive-filter { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1db;&nbsp;'); }
.icon-elusive-blogger { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1dc;&nbsp;'); }
.icon-elusive-behance { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1dd;&nbsp;'); }
.icon-elusive-female { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1de;&nbsp;'); }
.icon-elusive-male { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1df;&nbsp;'); }
.icon-elusive-universal-access { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1e0;&nbsp;'); }
.icon-elusive-accessibility { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1e1;&nbsp;'); }
.icon-elusive-guidedog { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1e2;&nbsp;'); }
.icon-elusive-blind { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1e3;&nbsp;'); }
.icon-elusive-child { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1e4;&nbsp;'); }
.icon-elusive-adult { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1e5;&nbsp;'); }
.icon-elusive-person { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1e6;&nbsp;'); }
.icon-elusive-iphone-home { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1e7;&nbsp;'); }
.icon-elusive-hearing-impaired { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1e8;&nbsp;'); }
.icon-elusive-glasses { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1e9;&nbsp;'); }
.icon-elusive-asl { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1ea;&nbsp;'); }
.icon-elusive-address-book { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1eb;&nbsp;'); }
.icon-elusive-address-book-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1ec;&nbsp;'); }
.icon-elusive-smiley-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1ed;&nbsp;'); }
.icon-elusive-smiley { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1ee;&nbsp;'); }
.icon-elusive-gauge { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1ef;&nbsp;'); }
.icon-elusive-cc { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1f0;&nbsp;'); }
.icon-elusive-css { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1f1;&nbsp;'); }
.icon-elusive-delicious { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1f2;&nbsp;'); }
.icon-elusive-deviantart { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1f3;&nbsp;'); }
.icon-elusive-digg { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1f4;&nbsp;'); }
.icon-elusive-dribbble { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1f5;&nbsp;'); }
.icon-elusive-facebook { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1f6;&nbsp;'); }
.icon-elusive-flickr { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1f7;&nbsp;'); }
.icon-elusive-foursquare { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1f8;&nbsp;'); }
.icon-elusive-friendfeed { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1f9;&nbsp;'); }
.icon-elusive-friendfeed-rect { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1fa;&nbsp;'); }
.icon-elusive-github-text { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1fb;&nbsp;'); }
.icon-elusive-github { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1fc;&nbsp;'); }
.icon-elusive-googleplus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1fd;&nbsp;'); }
.icon-elusive-instagram { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1fe;&nbsp;'); }
.icon-elusive-linkedin { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd1ff;&nbsp;'); }
.icon-elusive-folder { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xd25d;&nbsp;'); }
.icon-elusive-glass { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe900;&nbsp;'); }
.icon-elusive-search { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe901;&nbsp;'); }
.icon-elusive-music { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe902;&nbsp;'); }
.icon-elusive-search-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe903;&nbsp;'); }
.icon-elusive-mail { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe904;&nbsp;'); }
.icon-elusive-mail-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe905;&nbsp;'); }
.icon-elusive-heart { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe906;&nbsp;'); }
.icon-elusive-heart-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe907;&nbsp;'); }
.icon-elusive-heart-empty { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe908;&nbsp;'); }
.icon-elusive-star { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe909;&nbsp;'); }
.icon-elusive-star-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90a;&nbsp;'); }
.icon-elusive-star-empty { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90b;&nbsp;'); }
.icon-elusive-user { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90c;&nbsp;'); }
.icon-elusive-group { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90d;&nbsp;'); }
.icon-elusive-group-circled { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90e;&nbsp;'); }