[class^="icon-"], [class*=" icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
 
  /* fix buttons height */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}
 
.icon-fontelico-emo-happy { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe100;&nbsp;'); }
.icon-fontelico-emo-wink { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe101;&nbsp;'); }
.icon-fontelico-emo-wink2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe102;&nbsp;'); }
.icon-fontelico-emo-unhappy { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe103;&nbsp;'); }
.icon-fontelico-emo-sleep { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe104;&nbsp;'); }
.icon-fontelico-emo-thumbsup { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe105;&nbsp;'); }
.icon-fontelico-emo-devil { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe106;&nbsp;'); }
.icon-fontelico-emo-surprised { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe107;&nbsp;'); }
.icon-fontelico-emo-coffee { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe108;&nbsp;'); }
.icon-fontelico-emo-tongue { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe109;&nbsp;'); }
.icon-fontelico-emo-sunglasses { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe10a;&nbsp;'); }
.icon-fontelico-emo-displeased { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe10b;&nbsp;'); }
.icon-fontelico-emo-beer { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe10c;&nbsp;'); }
.icon-fontelico-emo-grin { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe10d;&nbsp;'); }
.icon-fontelico-emo-angry { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe10e;&nbsp;'); }
.icon-fontelico-emo-saint { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe10f;&nbsp;'); }
.icon-fontelico-emo-cry { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe110;&nbsp;'); }
.icon-fontelico-emo-shoot { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe111;&nbsp;'); }
.icon-fontelico-emo-squint { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe112;&nbsp;'); }
.icon-fontelico-emo-laugh { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe113;&nbsp;'); }
.icon-fontelico-spin1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe114;&nbsp;'); }
.icon-fontelico-spin2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe115;&nbsp;'); }
.icon-fontelico-spin3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe116;&nbsp;'); }
.icon-fontelico-spin4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe117;&nbsp;'); }
.icon-fontelico-spin5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe118;&nbsp;'); }
.icon-fontelico-spin6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe119;&nbsp;'); }
.icon-fontelico-firefox { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe11a;&nbsp;'); }
.icon-fontelico-chrome { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe11b;&nbsp;'); }
.icon-fontelico-opera { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe11c;&nbsp;'); }
.icon-fontelico-ie { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe11d;&nbsp;'); }
.icon-fontelico-crown { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe11e;&nbsp;'); }
.icon-fontelico-crown-plus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe11f;&nbsp;'); }
.icon-fontelico-crown-minus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe120;&nbsp;'); }
.icon-fontelico-marquee { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe121;&nbsp;'); }