
.icon-fontelico-emo-happy:before { content: '\e100'; } /* '' */
.icon-fontelico-emo-wink:before { content: '\e101'; } /* '' */
.icon-fontelico-emo-wink2:before { content: '\e102'; } /* '' */
.icon-fontelico-emo-unhappy:before { content: '\e103'; } /* '' */
.icon-fontelico-emo-sleep:before { content: '\e104'; } /* '' */
.icon-fontelico-emo-thumbsup:before { content: '\e105'; } /* '' */
.icon-fontelico-emo-devil:before { content: '\e106'; } /* '' */
.icon-fontelico-emo-surprised:before { content: '\e107'; } /* '' */
.icon-fontelico-emo-coffee:before { content: '\e108'; } /* '' */
.icon-fontelico-emo-tongue:before { content: '\e109'; } /* '' */
.icon-fontelico-emo-sunglasses:before { content: '\e10a'; } /* '' */
.icon-fontelico-emo-displeased:before { content: '\e10b'; } /* '' */
.icon-fontelico-emo-beer:before { content: '\e10c'; } /* '' */
.icon-fontelico-emo-grin:before { content: '\e10d'; } /* '' */
.icon-fontelico-emo-angry:before { content: '\e10e'; } /* '' */
.icon-fontelico-emo-saint:before { content: '\e10f'; } /* '' */
.icon-fontelico-emo-cry:before { content: '\e110'; } /* '' */
.icon-fontelico-emo-shoot:before { content: '\e111'; } /* '' */
.icon-fontelico-emo-squint:before { content: '\e112'; } /* '' */
.icon-fontelico-emo-laugh:before { content: '\e113'; } /* '' */
.icon-fontelico-spin1:before { content: '\e114'; } /* '' */
.icon-fontelico-spin2:before { content: '\e115'; } /* '' */
.icon-fontelico-spin3:before { content: '\e116'; } /* '' */
.icon-fontelico-spin4:before { content: '\e117'; } /* '' */
.icon-fontelico-spin5:before { content: '\e118'; } /* '' */
.icon-fontelico-spin6:before { content: '\e119'; } /* '' */
.icon-fontelico-firefox:before { content: '\e11a'; } /* '' */
.icon-fontelico-chrome:before { content: '\e11b'; } /* '' */
.icon-fontelico-opera:before { content: '\e11c'; } /* '' */
.icon-fontelico-ie:before { content: '\e11d'; } /* '' */
.icon-fontelico-crown:before { content: '\e11e'; } /* '' */
.icon-fontelico-crown-plus:before { content: '\e11f'; } /* '' */
.icon-fontelico-crown-minus:before { content: '\e120'; } /* '' */
.icon-fontelico-marquee:before { content: '\e121'; } /* '' */