[class^="icon-"], [class*=" icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
 
  /* fix buttons height */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}
 
.icon-meteocons-windy-rain-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc800;&nbsp;'); }
.icon-meteocons-snow-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc801;&nbsp;'); }
.icon-meteocons-snow-heavy-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc802;&nbsp;'); }
.icon-meteocons-hail-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc803;&nbsp;'); }
.icon-meteocons-clouds-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc804;&nbsp;'); }
.icon-meteocons-clouds-flash-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc805;&nbsp;'); }
.icon-meteocons-temperature { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc806;&nbsp;'); }
.icon-meteocons-compass { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc807;&nbsp;'); }
.icon-meteocons-na { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc808;&nbsp;'); }
.icon-meteocons-celcius { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc809;&nbsp;'); }
.icon-meteocons-fahrenheit { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc80a;&nbsp;'); }
.icon-meteocons-clouds-flash-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc80b;&nbsp;'); }
.icon-meteocons-sun-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc80c;&nbsp;'); }
.icon-meteocons-moon-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc80d;&nbsp;'); }
.icon-meteocons-cloud-sun-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc80e;&nbsp;'); }
.icon-meteocons-cloud-moon-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc80f;&nbsp;'); }
.icon-meteocons-cloud-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc810;&nbsp;'); }
.icon-meteocons-cloud-flash-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc811;&nbsp;'); }
.icon-meteocons-drizzle-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc812;&nbsp;'); }
.icon-meteocons-rain-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc813;&nbsp;'); }
.icon-meteocons-windy { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc814;&nbsp;'); }
.icon-meteocons-rain { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc815;&nbsp;'); }
.icon-meteocons-drizzle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc816;&nbsp;'); }
.icon-meteocons-cloud-flash-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc817;&nbsp;'); }
.icon-meteocons-cloud-flash { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc818;&nbsp;'); }
.icon-meteocons-cloud { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc819;&nbsp;'); }
.icon-meteocons-fog { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc81a;&nbsp;'); }
.icon-meteocons-fog-cloud { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc81b;&nbsp;'); }
.icon-meteocons-fog-moon { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc81c;&nbsp;'); }
.icon-meteocons-fog-sun { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc81d;&nbsp;'); }
.icon-meteocons-cloud-moon { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc81e;&nbsp;'); }
.icon-meteocons-cloud-sun { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc81f;&nbsp;'); }
.icon-meteocons-snowflake { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc820;&nbsp;'); }
.icon-meteocons-wind { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc821;&nbsp;'); }
.icon-meteocons-mist { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc822;&nbsp;'); }
.icon-meteocons-eclipse { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc823;&nbsp;'); }
.icon-meteocons-moon { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc824;&nbsp;'); }
.icon-meteocons-sun { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc825;&nbsp;'); }
.icon-meteocons-sunrise { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc826;&nbsp;'); }
.icon-meteocons-windy-inv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc827;&nbsp;'); }
.icon-meteocons-windy-rain { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc828;&nbsp;'); }
.icon-meteocons-snow { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc829;&nbsp;'); }
.icon-meteocons-snow-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc82a;&nbsp;'); }
.icon-meteocons-snow-heavy { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc82b;&nbsp;'); }
.icon-meteocons-hail { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc82c;&nbsp;'); }
.icon-meteocons-clouds { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc82d;&nbsp;'); }
.icon-meteocons-clouds-flash { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xc82e;&nbsp;'); }