// Import styles

@import "bootstrap/bootstrap.less";
@import "bootswatch/variables.less";
@import "bootswatch/bootswatch.less";
@import "font-awesome/font-awesome.less";







// Mixins
.color(@color) {
	color: @color-white;
	background: @color;
	&:hover {
		background: darken(@color, 10%);
	}
}




// Helpers
.small {
	font-size: 80%;
}
.relative {
	position: relative;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.visible {
	display: block !important;
}

.img-responsive, a > img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}





// Preloader
#riva-preload {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: @color-white;
	z-index: 100001;
	border: 50px solid rgba(000,000,000,0.05);
}
.bubblingG {
	text-align: center; width:80px; height:50px; left: 50%; top: 50%; margin-left: -40px; margin-top: -25px; position: relative;
	span {
		display: inline-block; vertical-align: middle; width: 10px; height: 10px; margin: 25px auto; background: @color-01; -moz-border-radius: 50px; -moz-animation: bubblingG 1.3s infinite alternate; -webkit-border-radius: 50px; -webkit-animation: bubblingG 1.3s infinite alternate; -ms-border-radius: 50px; -ms-animation: bubblingG 1.3s infinite alternate; -o-border-radius: 50px; -o-animation: bubblingG 1.3s infinite alternate; border-radius: 50px; animation: bubblingG 1.3s infinite alternate;
	}
	#bubblingG_1 {
		-moz-animation-delay: 0s; -webkit-animation-delay: 0s; -ms-animation-delay: 0s; -o-animation-delay: 0s; animation-delay: 0s;
	}
	#bubblingG_2 {
		-moz-animation-delay: 0.39s; -webkit-animation-delay: 0.39s; -ms-animation-delay: 0.39s; -o-animation-delay: 0.39s; animation-delay: 0.39s;
	}
	#bubblingG_3 {
		-moz-animation-delay: 0.78s; -webkit-animation-delay: 0.78s; -ms-animation-delay: 0.78s; -o-animation-delay: 0.78s; animation-delay: 0.78s;
	}
}
@-moz-keyframes bubblingG {
	0% { width: 10px; height: 10px; background-color: @color-02; -moz-transform: translateY(0); }
	100% { width: 24px; height: 24px; background-color: @color-01; -moz-transform: translateY(-21px); }
}
@-webkit-keyframes bubblingG {
	0% { width: 10px; height: 10px; background-color: @color-02; -moz-transform: translateY(0); }
	100% { width: 24px; height: 24px; background-color: @color-01; -moz-transform: translateY(-21px); }
}
@-ms-keyframes bubblingG {
	0% { width: 10px; height: 10px; background-color: @color-02; -moz-transform: translateY(0); }
	100% { width: 24px; height: 24px; background-color: @color-01; -moz-transform: translateY(-21px); }
}
@-o-keyframes bubblingG {
	0% { width: 10px; height: 10px; background-color: @color-02; -moz-transform: translateY(0); }
	100% { width: 24px; height: 24px; background-color: @color-01; -moz-transform: translateY(-21px); }
}
@keyframes bubblingG {
	0% { width: 10px; height: 10px; background-color: @color-02; -moz-transform: translateY(0); }
	100% { width: 24px; height: 24px; background-color: @color-01; -moz-transform: translateY(-21px); }
}


#header,
#main {
	.container {
		background: @color-white;
	}
}


.move-to-the-top {
	position: fixed;
  right: 0;
  bottom: 0;
}


// Header 
#header {
	.site-logo {
		display: block;
		margin: 10px 0;
	}
	.cds-logo {
		display: block;
		margin: 25px 0;
		text-align: right;
	}
	.header-contact {
		margin: 10px 0 10px 0;
		padding: 0;
		li {
			list-style: none;
			font-size: 20px;
			line-height: 25px;
			&:nth-child(2) {
				span {
					font-size: 14px;
    			vertical-align: top;
				}
			}
			i {
				width: 25px;
				color: @color-00;
				text-align: center;
			}
		}
	}
	.header-soc-btns {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			width: 30px;
			height: 30px;
			margin-right: 3px;
			overflow: hidden;
			a {
				display: block;
				height: 30px;
				width: 30px;
				text-align: center;
				font-size: 14px;
				border: 2px solid @color-00;
				border-radius: 50%;
				i {
					line-height: 26px;
					color: @color-00;
				}
			}
			a:hover {
				background: @color-00;
				i {
					color: #ffffff;
				}
			}
		}
	}
	.header-action {
		margin: 10px 0 10px 0;
		padding: 0;
		li {
			list-style: none;
			font-size: 20px;
			line-height: 30px;
			i {
				width: 25px;
				color: @color-00;
				text-align: center;
			}
			a:hover {
				text-decoration: none;
				color: @color-black;
			}
		}
	}
}




// Nav
#nav {
	position: relative;
	z-index: 1000001;
	height: 55px;
	
	.container {
		background: @color-00;
	}

	.menu-btn {
		float: left;
		height: 25px;
		margin: 15px 0;
		color: @color-white;
		font-size: 18px;
		font-weight: bold;
		cursor: pointer;
		i {
			line-height: 30px;
		}
	}

	ul li.expanded {
		list-style: none;
	}

	.main-nav {
		li.leaf {
			list-style: none;
		}
		li {
			margin: 0;
			a {
				padding: 15px;
				text-transform: uppercase;
				&:hover {
					color: @color-white;
				}
			}
			ul {
				border-top: none;
				box-shadow: none;
				li {
					width: 100%;
					padding: 0;
					border: none;
					a {
						width: 100%;
					}
				}
			}

		}
		&.nav-school {
			.color1 {
				.color(@color-01);
			}
			.color2 {
				.color(@color-02);
			}
			.color3 {
				.color(@color-03);
			}
			.color4 {
				.color(@color-04);
			}
			.color5 {
				.color(@color-05);
			}
			.color6 {
				.color(@color-06);
			}
			.color7 {
				.color(@color-07);
			}
			.color8 {
				.color(@color-08);
			}
		}
		&.nav-students {
			.color1 {
				.color(@color-11);
			}
			.color2 {
				.color(@color-12);
			}
			.color3 {
				.color(@color-13);
			}
			.color4 {
				.color(@color-14);
			}
			.color5 {
				.color(@color-15);
			}
			.color6 {
				.color(@color-16);
			}
			.color7 {
				.color(@color-17);
			}
			.color8 {
				.color(@color-18);
			}
		}

	}

}

nav.header-nav {
	width: auto;
	float: left;
	margin: 0;
	padding: 0;
	ul.main-nav {
		width: auto;
		float: right;
		list-style: none;
		margin: 0;
		padding: 0;
		> li {
			width: auto;
			float: left;
			margin: 0;
			padding: 0;
			margin-right: 30px;
			position: relative;
			> a {
				width: 100%;
				font-family: @headings-font-family;
				font-size: 18px;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
				color: @color-white;
				float: left;
			}
			> a:hover {
				//color: @header_menu_hover_text_color;
				//text-decoration: @header_menu_hover_text_decoration;
			}
			ul {
				position: absolute;
				left: 0;
				top: 55px;
				width: 200px;
				list-style: none;
				margin: 0;
				padding: 0;
				display: none;
				background: @color-00;
				box-shadow: 4px 4px 4px rgba(000,000,000,0.5);
				> li {
					border-bottom: 1px solid rgba(255,255,255,0.15);
					padding: 10px 0;
					transition: all 1s ease-out;
					a {
						color: #fff;
						text-transform: capitalize;
						padding: 0 20px;
					}
					a:hover {
						text-decoration: none;
					}
				}
				> li:hover {
					background-color: rgba(255,255,255,0.05);
				}
				> :last-child {
					border-bottom-width: 0;
				}
			}
		}
		> :last-child {
			margin-right: 0;
		}
		> li.active {
			position: relative;
			span.arrow {
				position: absolute;
				bottom: -1px;
				left: 50%;
				margin-left: -5px;
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 5px solid darken(@color-white, 7%);
			}
		}
	}
}


// Footer
#footer {
	.container {
		padding-top: 50px;
		background: @color-white url(../img/footer.png) center top no-repeat;
	}
	

	.kira-all {
		display: block;
		margin: 15px 0;
		&:hover {
			text-decoration: none;
		}
		&.mobile {
			.logo {
				width: 70px;
				display: inline-block;
			}
			p {
				display: inline-block;
				margin-bottom: 0;
				line-height: 16px;
				text-align: right;
				vertical-align: middle;
			}
		}
		.logo {
			img {
				width: 60px;
				background: #ff1493;
			}	
		}
		p {
			line-height: 12px;
			color: @brand-primary;
		}
	}

	.cds-logo {
		display: block;
    margin: 35px 0;
	}

	.founders {
		margin-top: 15px;
		.header {
			margin-bottom: 5px;
		}
		li {
			padding-left: 32px;
			display: inline-block;
    	vertical-align: top;
    	line-height: 12px;
			background: url(/sites/all/themes/zu/library/img/comitet.png) no-repeat left top;
			&:nth-child(1) {
				width: 17%;
			}
			&:nth-child(2) {
				width: 22%;
			}
			&:nth-child(3) {
				width: 27%;
			}
			&:nth-child(4) {
				width: 21%;
			}
		}

	}
}




.page-title-bar {
	
	.container {
		height: 70px;
		background: url(../img/breadcrumbs.png) no-repeat center center;
	}
	.title {
		margin: 8px 0 8px 15px;
		color: @color-white;
		font-weight: bold;
		text-transform: uppercase;
	}
	.breadcrumbs {
		margin-left: 15px;
		color: @color-white;
		a {
			color: @color-white;
		}
	}
}


#main {
	.container {
		padding: 15px 0;
	}
	
}




.page-0news .bg-img-line,
.node-type-news-school .bg-img-line {
	background: url(../img/bgs/line_school.png) center center repeat;
	background-size: 200%;
}

.page-1news .bg-img-line,
.node-type-news-students .bg-img-line {
	background: url(../img/bgs/line_students.png) center center repeat;
	background-size: 200%;
}






// Pages

.page-node.front {
	.content .front-half {
		margin-bottom: 30px;
		display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
	}
}










// Media queries

/* Mobile */
@media only screen and (max-width: 767px) {

	#header {
		.site-logo {
			text-align: center;
		}
		.cds-logo {
			text-align: center;
		}
		.header-contact {
			text-align: center;
		}
		.header-soc-btns {
			text-align: center;
		}
		.header-action {
			text-align: center;
		}
	}

	#nav {
		.block-menu-block {
			display: none;
		}
		.main-nav {
			margin-left: -15px;
			margin-right: -15px;
			li {
				width: 100%;
				text-align: center !important;
				ul {
					position: relative;
					top: 0;
					left: -15px;
					width: 100%;
				}
			}
		}
	}

	#footer {
		.founders {
			margin: 15px;
		}
		.cds-logo {
			margin: 5px 0;
			text-align: center;
		}
		.kira-all {
			text-align: center;
			p {
				text-align: right;
			}
		}
	}

}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {

	#header {
		.site-logo {
			text-align: center;
		}
		.cds-logo {
			text-align: center;
		}
		.header-contact {
			text-align: center;
		}
		.header-soc-btns {
			text-align: center;
		}
		.header-action {
			text-align: center;
		}
	}
	
	#nav {
		.block-menu-block {
			display: none;
		}
		.main-nav {
			margin-left: -15px;
			margin-right: -15px;
			li {
				width: 100%;
				text-align: center !important;
				ul {
					position: relative;
					top: 0;
					left: -15px;
					width: 100%;
				}
			}
		}
	}

	#footer {
		.founders {
			margin: 15px;
		}
		.cds-logo {
			margin: 15px 0;
			text-align: center;
		}
		.kira-all {
			text-align: center;
			p {
				text-align: right;
			}
		}
	}

}

/* Small Monitor */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

	#header {
		height: 110px;

	}


}

/* Large Monitor */
@media only screen and (min-width: 1200px) {

	#header {
		height: 110px;
	}

}