// Import styles

@import "bootstrap/bootstrap.less";
@import "bootswatch/variables.less";
@import "bootswatch/bootswatch.less";
@import "font-awesome/font-awesome.less";







// Mixins
.color(@color) {
	color: @color-white;
	background: @color;
	&:hover {
		background: darken(@color, 10%);
	}
}


// System
ul.primary li a {
	// color: @color-white;
	background: transparent;
	&.active,
	&:hover {
		// color: @color-black;
	}
}

div.messages {
  border-radius: 4px;
  &-error {
    display: none;
  }
}

a {
	transition: all ease-in-out 0.5s;
	&:hover,
	&:focus {
		text-decoration: none;
	}
}


//.content,
//.view-content {
//	img {
//		width: 100%;
//		height: auto;
//	}
//}


// Helpers
.small {
	font-size: 80%;
}
.relative {
	position: relative;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.margin-left-30 {
  margin-left: 30px;
}
.margin-left-15 {
  margin-left: 15px;
}
.hidden {
  display: none !important;
}
.visible {
	display: block !important;
}
.img-responsive, a > img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}




// Massages
.messages.error {
	//display: none !important;
}




// Pager
.item-list {
    .pager {
		margin: 15px 0;
		padding-top: 15px;
		li {
			margin: 0;
			padding: 0;
		}
		li > a, 
		li > span {
			padding: 5px 12px;
			border-radius: 0;
		}
		.pager-current {
			width: 30px;
			display: inline-block;
			span {
				background-color: @color-white;
			}
		}
	}
}


// Media browser
.ui-dialog {
	border-radius: 0;
	border: none;
	z-index: 999;
	.ui-dialog-titlebar {
		border-radius: 0;
		border: 0;
	}
}

.ui-widget-overlay {
	background: black;
	opacity: .8;
}

#edit-upload-upload {
	width: 80%;
	display: inline-block;
}

#edit-upload-upload-button {
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
}

#media-browser-tabset {
	border-radius: 0;
	border: 0;
}







.views-field-field-students-like,
.views-field-field-school-like {
	margin-bottom: 15px;
}

// Forms
legend {
  margin-bottom: 0;
}
.radio label,
.checkbox label {
  padding-left: 0;
}
.form-type-radio {
  margin-left: 20px;
}



// Preloader
#riva-preload {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: @color-white;
	z-index: 100001;
	border: 50px solid rgba(000,000,000,0.05);
}
.bubblingG {
	text-align: center; width:80px; height:50px; left: 50%; top: 50%; margin-left: -40px; margin-top: -25px; position: relative;
	span {
		display: inline-block; vertical-align: middle; width: 10px; height: 10px; margin: 25px auto; background: @color-01; -moz-border-radius: 50px; -moz-animation: bubblingG 1.3s infinite alternate; -webkit-border-radius: 50px; -webkit-animation: bubblingG 1.3s infinite alternate; -ms-border-radius: 50px; -ms-animation: bubblingG 1.3s infinite alternate; -o-border-radius: 50px; -o-animation: bubblingG 1.3s infinite alternate; border-radius: 50px; animation: bubblingG 1.3s infinite alternate;
	}
	#bubblingG_1 {
		-moz-animation-delay: 0s; -webkit-animation-delay: 0s; -ms-animation-delay: 0s; -o-animation-delay: 0s; animation-delay: 0s;
	}
	#bubblingG_2 {
		-moz-animation-delay: 0.39s; -webkit-animation-delay: 0.39s; -ms-animation-delay: 0.39s; -o-animation-delay: 0.39s; animation-delay: 0.39s;
	}
	#bubblingG_3 {
		-moz-animation-delay: 0.78s; -webkit-animation-delay: 0.78s; -ms-animation-delay: 0.78s; -o-animation-delay: 0.78s; animation-delay: 0.78s;
	}
}
@-moz-keyframes bubblingG {
	0% { width: 10px; height: 10px; background-color: @color-10; -moz-transform: translateY(0); }
	100% { width: 24px; height: 24px; background-color: @color-00; -moz-transform: translateY(-21px); }
}
@-webkit-keyframes bubblingG {
	0% { width: 10px; height: 10px; background-color: @color-10; -moz-transform: translateY(0); }
	100% { width: 24px; height: 24px; background-color: @color-00; -moz-transform: translateY(-21px); }
}
@-ms-keyframes bubblingG {
	0% { width: 10px; height: 10px; background-color: @color-10; -moz-transform: translateY(0); }
	100% { width: 24px; height: 24px; background-color: @color-00; -moz-transform: translateY(-21px); }
}
@-o-keyframes bubblingG {
	0% { width: 10px; height: 10px; background-color: @color-10; -moz-transform: translateY(0); }
	100% { width: 24px; height: 24px; background-color: @color-00; -moz-transform: translateY(-21px); }
}
@keyframes bubblingG {
	0% { width: 10px; height: 10px; background-color: @color-10; -moz-transform: translateY(0); }
	100% { width: 24px; height: 24px; background-color: @color-00; -moz-transform: translateY(-21px); }
}





.move-to-the-top {
	position: fixed;
  right: 0;
  bottom: 0;
	&:hover {
		cursor: pointer;
	}
}





// Search
#mod-search-searchword {
  display: inline-block !important;
  width: 70%;
}

#edit-submit {
  vertical-align: baseline;
}

#search-form {
  #edit-keys {
    display: inline-block;
    width: 90%;

  }
}


// Header 
#header {
	.container {
      padding-bottom: 5px;
      background: @color-white;
	}
	.site-logo {
		display: block;
		margin: 10px 0;
	}
	.cds-logo {
		display: block;
		margin: 25px 0;
		text-align: right;
	}
	.header-contact {
		margin: 10px 0 10px 0;
		padding: 0;
		li {
			list-style: none;
			font-size: 20px;
			line-height: 25px;
			&:nth-child(2) {
				a, span {
					font-size: 14px;
    			vertical-align: top;
				}
			}
			i {
				width: 22px;
				text-align: center;
			}
		}
		&.school {
			li {
				color: @color-02;
				a {
					color: @color-02;
				}
				&:hover {
					color: @color-03;
					a {
						color: @color-03;
					}
				}
			}
		}
		&.students {
			li {
				color: @color-11;
				a {
					color: @color-11;
				}
				&:hover {
					color: @color-12;
					a {
						color: @color-12;
					}
				}
			}
		}
	}
	.header-action {
		margin: 10px 0 10px 0;
		padding: 0;
		li {
			list-style: none;
			font-size: 20px;
			line-height: 30px;
			i {
				width: 25px;
				text-align: center;
				transition: all ease-in-out 0.5s;
			}
			a {
				color: @color-02;
			}
			a:hover {
				text-decoration: none;
				color: @color-black;
			}
		}
		&.school {
			li {
				color: @color-02;
				a {
					color: @color-02;
				}
				&:hover {
					color: @color-03;
					a, i {
						color: @color-03;
					}
				}
			}
		}
		&.students {
			li {
				color: @color-11;
				a {
					color: @color-11;
				}
				&:hover {
					color: @color-12;
					a, i {
						color: @color-12;
					}
				}
			}
		}
	}
	.header-soc-btns {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			width: 30px;
			height: 30px;
			margin-right: 8px;
			overflow: hidden;
			a {
				display: block;
				height: 30px;
				width: 30px;
				text-align: center;
				font-size: 14px;
				border-radius: 50%;
				i {
					line-height: 26px;
				}
			}
		}
		&.school {
			li {
				color: @color-02;
				a {
					color: @color-02;
					border: 2px solid @color-02;
				}
			}
		}
		&.students {
			li {
				margin-right: 22px;
				color: @color-11;
				a {
					color: @color-11;
					border: 2px solid @color-11;
				}
			}
		}
		a:hover {
			&.vk {
				color: #507299;
				border-color: #507299;
			}
			&.instagram {
				color: #3897f0;
				border-color: #3897f0;
			}
			&.youtube {
				color: #cc181e;
				border-color: #cc181e;
			}
			&.facebook {
				color: #3b5998;
				border-color: #3b5998;
			}
			&.odnoklassniki {
				color: #f2720c;
				border-color: #f2720c;
			}
		}
	}
}




// Nav
#nav {
	position: relative;
	z-index: 999;
	height: 55px;
	
	.container {
		background: @color-gray;
	}

	.menu-btn {
		float: left;
		height: 25px;
		margin: 15px;
		color: @color-white;
		font-size: 18px;
		font-weight: bold;
		cursor: pointer;
		i {
			line-height: 30px;
		}
	}

	ul li.expanded,
    ul li.collapsed {
		list-style: none;
	}

	.main-nav {
		li.leaf {
			list-style: none;
		}
		li {
			margin: 0;
			a {
				padding: 15px;
				text-transform: uppercase;
				&:hover {
					color: @color-white;
				}
			}
			ul {
				border-top: none;
				box-shadow: none;
				li {
					width: 100%;
					padding: 0;
					border: none;
					a {
						width: 100%;
					}
				}
			}

		}
        &.nav-front {
          .color1 {
            .color(@color-02);
          }
          .color2 {
            .color(@color-11);
          }
        }
		&.nav-school {
			.color1 {
				.color(@color-01);
			}
			.color2 {
				.color(@color-02);
			}
			.color3 {
				.color(@color-03);
			}
			.color4 {
				.color(@color-04);
			}
			.color5 {
				.color(@color-05);
			}
			.color6 {
				.color(@color-06);
			}
			.color7 {
				.color(@color-07);
			}
			.color8 {
				.color(@color-08);
			}
		}
		&.nav-students {
			.color1 {
				.color(@color-11);
			}
			.color2 {
				.color(@color-12);
			}
			.color3 {
				.color(@color-13);
			}
			.color4 {
				.color(@color-14);
			}
			.color5 {
				.color(@color-15);
			}
			.color6 {
				.color(@color-16);
			}
			.color7 {
				.color(@color-17);
			}
			.color8 {
				.color(@color-18);
			}
		}

	}

    .nav-user {
      .main-nav {
        li a {
          text-transform: none;
        }
      }
    }
}

nav.header-nav {
	width: auto;
	float: left;
	margin: 0;
	padding: 0;
	ul.main-nav {
		width: auto;
		float: right;
		list-style: none;
		margin: 0;
		padding: 0;
		> li {
			width: auto;
			float: left;
			margin: 0;
			padding: 0;
			margin-right: 30px;
			position: relative;
			> a {
				width: 100%;
				padding: 17px 15px !important;
				font-family: @headings-font-family;
				font-size: 18px;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
				color: @color-white;
				float: left;
			}
			> a:hover {
				//color: @header_menu_hover_text_color;
				//text-decoration: @header_menu_hover_text_decoration;
			}
			ul {
				position: absolute;
				left: 0;
				top: 55px;
				width: 200px;
				list-style: none;
				margin: 0;
				padding: 0;
				display: none;
				background: @color-gray;
				box-shadow: 4px 4px 4px rgba(000,000,000,0.5);
				> li {
					border-bottom: 1px solid rgba(255,255,255,0.15);
					padding: 10px 0;
					transition: all 1s ease-out;
					a {
						color: #fff;
						text-transform: capitalize;
						padding: 0 20px;
					}
					a:hover {
						text-decoration: none;
					}
				}
				> li:hover {
					background-color: rgba(255,255,255,0.05);
				}
				> :last-child {
					border-bottom-width: 0;
				}
			}
		}
		> :last-child {
			margin-right: 0;
		}
		> li.active {
			position: relative;
			span.arrow {
				position: absolute;
				bottom: -1px;
				left: 50%;
				margin-left: -5px;
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 5px solid darken(@color-white, 7%);
			}
		}
	}
}


// Footer
#footer {
	.container {
		background: @color-white;
	}
	.top-line {
		height: 50px;
		margin: 0 -15px;
		color: @color-white;
		background: @color-gray;
		h2 {
			margin: 0;
			text-align: center;
			font-size: 26px;
			line-height: 50px;
			text-transform: uppercase;
			font-weight: bold;
			word-spacing: 6px;
			letter-spacing: 4px;
		}
	}

	.kira-all {
		display: block;
		margin: 15px 0;
		&:hover {
			text-decoration: none;
		}
		&.mobile {
			.logo {
				width: 70px;
				display: inline-block;
			}
			p {
				display: inline-block;
                margin-top: 5px;
				margin-bottom: 0;
				line-height: 16px;
				text-align: right;
				vertical-align: middle;
			}
		}
		.logo {
			img {
				width: 60px;
				background: #ff1493;
			}	
		}
		p {
            margin-top: 5px;
			line-height: 12px;
			color: @brand-primary;
		}
	}

	.cds-logo {
		display: block;
        margin: 35px 0 20px 0;
	}

	.founders {
		margin-top: 15px;
		.header {
			margin-bottom: 5px;
			text-transform: uppercase;
		}
		li {
			padding-left: 32px;
			display: inline-block;
    	    vertical-align: top;
			font-size: 80%;
			text-transform: uppercase;
    	    line-height: 12px;
			background: url(../img/comitet.png) no-repeat left top;
			&:nth-child(1) {
				width: 16%;
			}
			&:nth-child(2) {
				width: 22%;
			}
			&:nth-child(3) {
				width: 25%;
			}
			&:nth-child(4) {
				width: 21%;
			}
		}
	}

    .partners {
		.header {
			text-transform: uppercase;
		}
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
        }
      }
    }
}



// Title bar
.page-title-bar {
	
	.container {
		height: 70px;
		background: url(../img/breadcrumbs.png) no-repeat center center;
	}
	.title {
		margin: 8px 0;
		color: @color-white;
		font-weight: bold;
		text-transform: uppercase;
	}
	.breadcrumb {
		margin: 0;
		padding: 0;
		background: none;
		color: @color-white;
		a {
			color: @color-white;
		}
	}
}




// Buttons
.btn-school {
	color: @color-white !important;
	background: @color-00;
	&:hover {
		background: @color-02;
	}
}

.btn-students {
	color: @color-white !important;
	background: @color-10;
	&:hover {
		background: @color-12;
	}
}






// Colors
.node-type-page-school,
.node-type-news-school,
.node-type-work-school,
.page-school-news,
.view-news-school,
.page-school-works {
	.page-title-bar .container,
	.pager li a {
		color: @color-white;
		background: @color-00;
	}
	a {
		color: @color-00;
		&:hover,
		&:focus {
			color: @color-02;
		}
	}
	.news-block {
		.block-title,
		.title a {
			color: @color-02;
		}
	}
}

.node-type-page-students,
.node-type-news-students,
.node-type-work-students,
.page-students-news,
.view-news-students,
.page-students-works {
	.page-title-bar .container,
	.pager li a {
		color: @color-white;
		background: @color-10;
	}
	a {
		color: @color-10;
		&:hover,
		&:focus {
			color: @color-12;
		}
	}
	.news-block {
		.block-title,
		.title a {
			color: @color-10;
			&:hover,
			&:focus {
				color: @color-12;
			}
		}
	}
}





// Main
#main {
	.container {
		padding: 15px 0;
		background: @color-white;
	}
  .region-sidebar-second {
    .widget-title {
		margin-top: 0;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 18px;
    }
  }
}




// login
#user-login {
  width: 30%;
  margin: 30px auto;
}


// Register
#edit-autoassignrole-user {
  .fieldset-legend {
    font-size: @font-size-base;
    font-weight: bold;
  }
  .form-item {
    margin: 0;
  }
}

#edit-profile-profile-field-profile-image {
	.image-widget-data {
		width: 100%;
	}
	#edit-profile-profile-field-profile-image-und-0-upload {
		display: inline-block;
		width: 50%;
	}
	#edit-profile-profile-field-profile-image-und-0-upload-button {
		vertical-align: top;
		margin-left: 5px;
	}
}

#edit-profile-profile-field-profile-age {
  display: none;
}

/*
#edit-profile-profile-field-profile-division,
#edit-profile-profile-field-profile-onecollective {
  width: 49%;
  display: inline-block !important;
}

#edit-profile-profile-field-profile-division {
  margin-right: 15px;
}

#edit-profile-profile-field-profile-image {
  input {
    display: inline-block !important;
    margin-right: 15px;
  }
}

#edit-profile-profile-field-profile-name,
#edit-profile-profile-field-profile-sname {
  width: 49%;
  display: inline-block !important;
}

#edit-profile-profile-field-profile-name {
  margin-right: 15px;
}

#edit-profile-profile-field-collective-name,
#edit-profile-profile-field-collective-count,
#edit-profile-profile-field-collective-age {
  width: 32%;
  display: inline-block !important;
}

#edit-profile-profile-field-collective-name,
#edit-profile-profile-field-collective-count {
  margin-right: 15px;
}

#profile-profile-field-profile-birthday-add-more-wrapper {
  .date-day,
  .date-month,
  .date-year {
    margin-right: 15px;
  }
}



#edit-profile-profile-field-institution-school,
#edit-profile-profile-field-institution-number,
#edit-profile-profile-field-institution-class {
  width: 32%;
  display: inline-block !important;
}

#edit-profile-profile-field-institution-school,
#edit-profile-profile-field-institution-number {
  margin-right: 15px;
}

#edit-profile-profile-field-institution-students,
#edit-profile-profile-field-institution-course,
#edit-profile-profile-field-institution-faculty {
  width: 32%;
  display: inline-block !important;
}

#edit-profile-profile-field-institution-students,
#edit-profile-profile-field-institution-course {
  margin-right: 15px;
}

#edit-profile-profile-field-profile-city,
#edit-autoassignrole-user,
#edit-account {
  width: 50%;
}
*/

// Profile
.profile2-profile {
	.field {
		width: 50%;
		height: 20px;
		display: inline-block;
	}
	.field-name-field-profile-image {
		width: 260px !important;
		height: 260px !important;
		margin-right: 10px;
		float: left;
	}
	.field-name-field-profile-onecollective {
		display: none;
	}
	.field-name-field-profile-name,
	.field-name-field-profile-sname {
		font-weight: bold;
	}
}


// Comments
.comment-form {
	.form-item.form-type-item {
		label,
		.username {
			display: none;
		}
	}
}

.comment-item {
	.field-type-image {
		width: 100px;
	}
	.field-type-text {
		display: inline-block;
		margin-right: 5px;
		font-weight: bold;
	}
	.reply {
		color: @color-white;

	}
}


// Front
.page-node.front {
	#main > .container {
		padding: 0;
	}
	.content {
		.front-half {
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;
			align-items: center;
		}
		.arh-link {
			margin: 0;
			padding: 0;
			text-align: center;
			background: url(../img/arh_home_bg.jpg) center center repeat;
		}
	}
}





// Start pages
.page-node-2,
.page-node-3 {
	#main .container,
	.students-home,
	.school-home {
		padding: 0;
		img {
			width: 100%;
			height: auto;
		}
		a {
			display: block;
			&:hover {
				opacity: 0.8;
			}
		}
	}
	.col-lg-9.col-md-8 {
		padding: 0;
	}
}






//Juri pages
#node-8,
#node-14 {
	img {
		margin-right: 15px;
	}
}





// News
.news-list {
  .news-item {
    margin-bottom: 30px;
	p {
		margin: 0;
	  }
    .content {
      padding-left: 0;
    }
    .title {
      margin: 0;
      a:hover,
      a:focus {
        text-decoration: none;
      }
    }
    .date {
      margin-bottom: 5px;
		font-size: 80%;
		color: gray;
    }
	.more {

	}
  }
}

.news-block {
	.block-title {
		font-size: 22px;
		font-weight: bold;
		margin: 10px 0 5px 0;
		display: block;
		text-transform: uppercase;
	}
	.news-item {
		margin-bottom: 15px;
		p {
			margin: 0;
			line-height: 1;
		}
		.title {
			font-weight: bold;
		}
		.date {
			font-size: 80%;
			color: gray;
			margin: 3px 0;
		}
	}

}

.node-news-school,
.node-news-students {
  .field-type-image {
    img {
      width: 100%;
      height: auto;
    }
  }
}

.news-content {
	.title {
		margin: 0;
		font-size: 24px;
		line-height: 1;
	}
	.date {
		font-size: 80%;
		color: gray;
		margin: 3px 0;
	}
	.likebtn {
		margin-top: 5px;
		float: left;
	}
	.share {
		padding: 3px;
	}
}





// Works
.work-item {
  max-width: 250px;
  margin-top: 15px;
  border: 2px solid #dce4ec;
  transition: all ease 0.5s;
  &:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
  img {
    width: 100%;
    height: auto;
  }
  .title {
    height: 60px;
    margin: 0;
    padding: 3px 10px;
    font-weight: bold;
    overflow: hidden;
  }
  .work-file {
    position: relative;
    border-top: 2px solid #dce4ec;
    border-bottom: 2px solid #dce4ec;
    .link {
      display: block;
      width: 246px;
      height: 214px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .details {
    height: 80px;
  }
  .author {
    padding: 5px 10px;
    font-size: @font-size-h4;
    line-height: @font-size-h4;
  }
  .like {
    margin-left: 10px;
  }
  audio,
  video,
  .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .content {
    text-align: center;
  }
  .file {
	  overflow: hidden;
    position: relative;
    min-height: 246px;
    background: white;
    background-repeat: no-repeat;
  }
  .file-audio {
    background-image: url(../svg/file-audio-o.svg);
    background-size: 50%;
    background-position: center;
  }
  .file-video {
    background-image: url(../svg/file-video-o.svg);
    background-size: 25%;
    background-position: center 20px;
  }
  .file-document {
    background-image: url(../svg/file-word-o.svg);
    background-size: 50%;
    background-position: center;
    img {
      display: none;
    }
  }
}

.work-content {
  img {
    width: 100%;
    height: auto;
  }
  .title {
    margin-top: 0;
    margin-bottom: 0;
  }
  .field-label {
    font-weight: normal;
  }
  .likebtn {
    margin-top: 5px;
	  float: left;
  }
	.share {
		padding: 3px 0;
	}
	.file {
		margin-top: 10px;
		video,
		audio {
			width: 100%;
		}
	}
}

.work-author {
  //margin: 15px 0;
  img {
    width: 100%;
    height: auto;
  }
	.field-name-field-profile-image {
		margin-bottom: 5px;
	}

	.field-name-field-profile-name,
	.field-name-field-profile-sname {
		font-weight: bold;
		display: inline-block;
	}

	.field-name-field-collective-name {
		font-weight: bold;
	}

	.field-name-field-profile-age {
		.field-label {
			font-weight: bold;
			display: inline-block;
		}
		.field-item {
			display: inline-block;
		}
	}

}















// Media queries

/* Mobile */
@media only screen and (max-width: 767px) {

	#header {
		.site-logo {
			text-align: center;
		}
		.cds-logo {
			text-align: center;
		}
		.header-contact {
			text-align: center;
		}
		.header-soc-btns {
			text-align: center;
		}
		.header-action {
			text-align: center;
		}
	}

	#nav {
		.nav-school,
        .nav-students {
			display: none;
		}
		.main-nav {
			li {
				width: 100%;
				text-align: center !important;
				ul {
					position: relative;
					top: 0;
					width: 100%;
				}
			}
		}
	}

	#footer {
		.founders {
			margin: 15px;
			li {
				width: 49% !important;
				margin-bottom: 10px;
			}
		}
		.partners {
			margin: 0 15px;
		}
		.cds-logo {
			margin: 5px 0;
			text-align: center;
		}
		.kira-all {
			text-align: center;
			p {
				text-align: right;
			}
		}
	}

  #main {
    .region-sidebar-second {
      .widget-title {
        margin-top: 30px;
      }
    }
  }

  .view-news-school {
    .news-item {
      text-align: center;
    }
  }

  .view-works-school {
  	.work-item {
  		margin: 15px auto;
  	}
	}

}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {

	#header {
		.site-logo {
			text-align: center;
		}
		.cds-logo {
			text-align: center;
		}
		.header-contact {
			text-align: center;
		}
		.header-soc-btns {
			text-align: center;
		}
		.header-action {
			text-align: center;
		}
	}
	
	#nav {
      .nav-school,
      .nav-students {
        display: none;
      }
		.main-nav {
			li {
				width: 100%;
				text-align: center !important;
				ul {
					position: relative;
					top: 0;
					width: 100%;
				}
			}
		}
	}

	#footer {
		.founders {
			margin: 15px;
		}
		.cds-logo {
			margin: 15px 0;
			text-align: center;
		}
		.kira-all {
			text-align: center;
			p {
				text-align: right;
			}
		}
	}

  #main {
    .region-sidebar-second {
      .widget-title {
        margin-top: 30px;
      }
    }
  }

}

/* Small Monitor */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

	#header {
		// height: 110px;
	}

    #nav {
    	.main-nav li a {
    		padding: 15px 10px;
    	}
    }

}

/* Large Monitor */
@media only screen and (min-width: 1200px) {

  #header {
    // height: 110px;
  }

  #nav {

  }

}