
.icon-maki-aboveground-rail:before { content: '\e800'; } /* '' */
.icon-maki-airfield:before { content: '\e801'; } /* '' */
.icon-maki-airport:before { content: '\e802'; } /* '' */
.icon-maki-art-gallery:before { content: '\e803'; } /* '' */
.icon-maki-bar:before { content: '\e804'; } /* '' */
.icon-maki-baseball:before { content: '\e805'; } /* '' */
.icon-maki-basketball:before { content: '\e806'; } /* '' */
.icon-maki-beer:before { content: '\e807'; } /* '' */
.icon-maki-belowground-rail:before { content: '\e808'; } /* '' */
.icon-maki-bicycle:before { content: '\e809'; } /* '' */
.icon-maki-bus:before { content: '\e80a'; } /* '' */
.icon-maki-cafe:before { content: '\e80b'; } /* '' */
.icon-maki-campsite:before { content: '\e80c'; } /* '' */
.icon-maki-cemetery:before { content: '\e80d'; } /* '' */
.icon-maki-cinema:before { content: '\e80e'; } /* '' */
.icon-maki-college:before { content: '\e80f'; } /* '' */
.icon-maki-commerical-building:before { content: '\e810'; } /* '' */
.icon-maki-credit-card:before { content: '\e811'; } /* '' */
.icon-maki-cricket:before { content: '\e812'; } /* '' */
.icon-maki-embassy:before { content: '\e813'; } /* '' */
.icon-maki-pharmacy:before { content: '\e814'; } /* '' */
.icon-maki-museum:before { content: '\e815'; } /* '' */
.icon-maki-monument:before { content: '\e816'; } /* '' */
.icon-maki-minefield:before { content: '\e817'; } /* '' */
.icon-maki-london-underground:before { content: '\e818'; } /* '' */
.icon-maki-lodging:before { content: '\e819'; } /* '' */
.icon-maki-library:before { content: '\e81a'; } /* '' */
.icon-maki-industrial-building:before { content: '\e81b'; } /* '' */
.icon-maki-hospital:before { content: '\e81c'; } /* '' */
.icon-maki-heliport:before { content: '\e81d'; } /* '' */
.icon-maki-harbor:before { content: '\e81e'; } /* '' */
.icon-maki-grocery-store:before { content: '\e81f'; } /* '' */
.icon-maki-golf:before { content: '\e820'; } /* '' */
.icon-maki-giraffe:before { content: '\e821'; } /* '' */
.icon-maki-garden:before { content: '\e822'; } /* '' */
.icon-maki-fuel:before { content: '\e823'; } /* '' */
.icon-maki-football:before { content: '\e824'; } /* '' */
.icon-maki-fire-station:before { content: '\e825'; } /* '' */
.icon-maki-ferry:before { content: '\e826'; } /* '' */
.icon-maki-fast-food:before { content: '\e827'; } /* '' */
.icon-maki-pitch:before { content: '\e828'; } /* '' */
.icon-maki-police:before { content: '\e829'; } /* '' */
.icon-maki-post:before { content: '\e82a'; } /* '' */
.icon-maki-prison:before { content: '\e82b'; } /* '' */
.icon-maki-rail:before { content: '\e82c'; } /* '' */
.icon-maki-religious-christian:before { content: '\e82d'; } /* '' */
.icon-maki-religious-islam:before { content: '\e82e'; } /* '' */
.icon-maki-religious-jewish:before { content: '\e82f'; } /* '' */
.icon-maki-restaurant:before { content: '\e830'; } /* '' */
.icon-maki-roadblock:before { content: '\e831'; } /* '' */
.icon-maki-school:before { content: '\e832'; } /* '' */
.icon-maki-shop:before { content: '\e833'; } /* '' */
.icon-maki-skiing:before { content: '\e834'; } /* '' */
.icon-maki-soccer:before { content: '\e835'; } /* '' */
.icon-maki-swimming:before { content: '\e836'; } /* '' */
.icon-maki-tennis:before { content: '\e837'; } /* '' */
.icon-maki-theatre:before { content: '\e838'; } /* '' */
.icon-maki-toilet:before { content: '\e839'; } /* '' */
.icon-maki-town-hall:before { content: '\e83a'; } /* '' */
.icon-maki-trash:before { content: '\e83b'; } /* '' */
.icon-maki-tree-1:before { content: '\e83c'; } /* '' */
.icon-maki-tree-2:before { content: '\e83d'; } /* '' */
.icon-maki-warehouse:before { content: '\e83e'; } /* '' */