
.icon-iconic-search:before { content: '\a800'; } /* 'ꠀ' */
.icon-iconic-mail:before { content: '\a801'; } /* 'ꠁ' */
.icon-iconic-heart:before { content: '\a802'; } /* 'ꠂ' */
.icon-iconic-heart-empty:before { content: '\a803'; } /* 'ꠃ' */
.icon-iconic-star:before { content: '\a804'; } /* 'ꠄ' */
.icon-iconic-user:before { content: '\a805'; } /* 'ꠅ' */
.icon-iconic-video:before { content: '\a806'; } /* '꠆' */
.icon-iconic-picture:before { content: '\a807'; } /* 'ꠇ' */
.icon-iconic-camera:before { content: '\a808'; } /* 'ꠈ' */
.icon-iconic-ok:before { content: '\a809'; } /* 'ꠉ' */
.icon-iconic-ok-circle:before { content: '\a80a'; } /* 'ꠊ' */
.icon-iconic-cancel:before { content: '\a80b'; } /* 'ꠋ' */
.icon-iconic-cancel-circle:before { content: '\a80c'; } /* 'ꠌ' */
.icon-iconic-plus:before { content: '\a80d'; } /* 'ꠍ' */
.icon-iconic-plus-circle:before { content: '\a80e'; } /* 'ꠎ' */
.icon-iconic-minus:before { content: '\a80f'; } /* 'ꠏ' */
.icon-iconic-minus-circle:before { content: '\a810'; } /* 'ꠐ' */
.icon-iconic-help:before { content: '\a811'; } /* 'ꠑ' */
.icon-iconic-info:before { content: '\a812'; } /* 'ꠒ' */
.icon-iconic-home:before { content: '\a813'; } /* 'ꠓ' */
.icon-iconic-pencil-neg:before { content: '\a814'; } /* 'ꠔ' */
.icon-iconic-pencil:before { content: '\a815'; } /* 'ꠕ' */
.icon-iconic-quote-right-alt:before { content: '\a816'; } /* 'ꠖ' */
.icon-iconic-quote-left-alt:before { content: '\a817'; } /* 'ꠗ' */
.icon-iconic-quote-right:before { content: '\a818'; } /* 'ꠘ' */
.icon-iconic-quote-left:before { content: '\a819'; } /* 'ꠙ' */
.icon-iconic-upload-cloud:before { content: '\a81a'; } /* 'ꠚ' */
.icon-iconic-download-cloud:before { content: '\a81b'; } /* 'ꠛ' */
.icon-iconic-upload:before { content: '\a81c'; } /* 'ꠜ' */
.icon-iconic-download:before { content: '\a81d'; } /* 'ꠝ' */
.icon-iconic-tag-empty:before { content: '\a81e'; } /* 'ꠞ' */
.icon-iconic-tag:before { content: '\a81f'; } /* 'ꠟ' */
.icon-iconic-eye:before { content: '\a820'; } /* 'ꠠ' */
.icon-iconic-pin:before { content: '\a821'; } /* 'ꠡ' */
.icon-iconic-lock-open-empty:before { content: '\a822'; } /* 'ꠢ' */
.icon-iconic-lock-open:before { content: '\a823'; } /* 'ꠣ' */
.icon-iconic-lock-empty:before { content: '\a824'; } /* 'ꠤ' */
.icon-iconic-lock:before { content: '\a825'; } /* 'ꠥ' */
.icon-iconic-attach:before { content: '\a826'; } /* 'ꠦ' */
.icon-iconic-link:before { content: '\a827'; } /* 'ꠧ' */
.icon-iconic-pencil-alt:before { content: '\a828'; } /* '꠨' */
.icon-iconic-undo:before { content: '\a829'; } /* '꠩' */
.icon-iconic-comment:before { content: '\a82a'; } /* '꠪' */
.icon-iconic-comment-inv:before { content: '\a82b'; } /* '꠫' */
.icon-iconic-comment-alt:before { content: '\a82c'; } /* '꠬' */
.icon-iconic-comment-inv-alt:before { content: '\a82d'; } /* '꠭' */
.icon-iconic-comment-alt2:before { content: '\a82e'; } /* '꠮' */
.icon-iconic-comment-inv-alt2:before { content: '\a82f'; } /* '꠯' */
.icon-iconic-chat:before { content: '\a830'; } /* '꠰' */
.icon-iconic-chat-inv:before { content: '\a831'; } /* '꠱' */
.icon-iconic-location:before { content: '\a832'; } /* '꠲' */
.icon-iconic-location-inv:before { content: '\a833'; } /* '꠳' */
.icon-iconic-location-alt:before { content: '\a834'; } /* '꠴' */
.icon-iconic-compass:before { content: '\a835'; } /* '꠵' */
.icon-iconic-trash:before { content: '\a836'; } /* '꠶' */
.icon-iconic-trash-empty:before { content: '\a837'; } /* '꠷' */
.icon-iconic-doc:before { content: '\a838'; } /* '꠸' */
.icon-iconic-doc-inv:before { content: '\a839'; } /* '꠹' */
.icon-iconic-doc-alt:before { content: '\a83a'; } /* '꠺' */
.icon-iconic-doc-inv-alt:before { content: '\a83b'; } /* '꠻' */
.icon-iconic-lamp:before { content: '\a83c'; } /* '꠼' */
.icon-iconic-clock:before { content: '\a83d'; } /* '꠽' */
.icon-iconic-headphones:before { content: '\a83e'; } /* '꠾' */
.icon-iconic-volume-up:before { content: '\a83f'; } /* '꠿' */
.icon-iconic-volume-off:before { content: '\a840'; } /* 'ꡀ' */
.icon-iconic-mic:before { content: '\a841'; } /* 'ꡁ' */
.icon-iconic-calendar-alt:before { content: '\a842'; } /* 'ꡂ' */
.icon-iconic-calendar-inv:before { content: '\a843'; } /* 'ꡃ' */
.icon-iconic-calendar:before { content: '\a844'; } /* 'ꡄ' */
.icon-iconic-share:before { content: '\a845'; } /* 'ꡅ' */
.icon-iconic-wrench:before { content: '\a846'; } /* 'ꡆ' */
.icon-iconic-cog:before { content: '\a847'; } /* 'ꡇ' */
.icon-iconic-rss-alt:before { content: '\a848'; } /* 'ꡈ' */
.icon-iconic-rss:before { content: '\a849'; } /* 'ꡉ' */
.icon-iconic-box:before { content: '\a84a'; } /* 'ꡊ' */
.icon-iconic-folder-empty:before { content: '\a84b'; } /* 'ꡋ' */
.icon-iconic-folder:before { content: '\a84c'; } /* 'ꡌ' */
.icon-iconic-book-open:before { content: '\a84d'; } /* 'ꡍ' */
.icon-iconic-article-alt:before { content: '\a84e'; } /* 'ꡎ' */
.icon-iconic-article:before { content: '\a84f'; } /* 'ꡏ' */
.icon-iconic-block:before { content: '\a850'; } /* 'ꡐ' */
.icon-iconic-resize-full:before { content: '\a851'; } /* 'ꡑ' */
.icon-iconic-resize-full-alt:before { content: '\a852'; } /* 'ꡒ' */
.icon-iconic-resize-small:before { content: '\a853'; } /* 'ꡓ' */
.icon-iconic-resize-small-alt:before { content: '\a854'; } /* 'ꡔ' */
.icon-iconic-resize-vertical:before { content: '\a855'; } /* 'ꡕ' */
.icon-iconic-resize-horizontal:before { content: '\a856'; } /* 'ꡖ' */
.icon-iconic-move:before { content: '\a857'; } /* 'ꡗ' */
.icon-iconic-popup:before { content: '\a858'; } /* 'ꡘ' */
.icon-iconic-down:before { content: '\a859'; } /* 'ꡙ' */
.icon-iconic-left:before { content: '\a85a'; } /* 'ꡚ' */
.icon-iconic-iconic-right:before { content: '\a85b'; } /* 'ꡛ' */
.icon-iconic-up:before { content: '\a85c'; } /* 'ꡜ' */
.icon-iconic-down-circle:before { content: '\a85d'; } /* 'ꡝ' */
.icon-iconic-left-circle:before { content: '\a85e'; } /* 'ꡞ' */
.icon-iconic-right-circle:before { content: '\a85f'; } /* 'ꡟ' */
.icon-iconic-up-circle:before { content: '\a860'; } /* 'ꡠ' */
.icon-iconic-cw:before { content: '\a861'; } /* 'ꡡ' */
.icon-iconic-loop:before { content: '\a862'; } /* 'ꡢ' */
.icon-iconic-loop-alt:before { content: '\a863'; } /* 'ꡣ' */
.icon-iconic-bat-charge:before { content: '\a864'; } /* 'ꡤ' */
.icon-iconic-bat-full:before { content: '\a865'; } /* 'ꡥ' */
.icon-iconic-bat-half:before { content: '\a866'; } /* 'ꡦ' */
.icon-iconic-bat-empty:before { content: '\a867'; } /* 'ꡧ' */
.icon-iconic-list-nested:before { content: '\a868'; } /* 'ꡨ' */
.icon-iconic-list:before { content: '\a869'; } /* 'ꡩ' */
.icon-iconic-award-empty:before { content: '\a86a'; } /* 'ꡪ' */
.icon-iconic-award:before { content: '\a86b'; } /* 'ꡫ' */
.icon-iconic-signal:before { content: '\a86c'; } /* 'ꡬ' */
.icon-iconic-target:before { content: '\a86d'; } /* 'ꡭ' */
.icon-iconic-eject:before { content: '\a86e'; } /* 'ꡮ' */
.icon-iconic-to-end:before { content: '\a86f'; } /* 'ꡯ' */
.icon-iconic-to-start:before { content: '\a870'; } /* 'ꡰ' */
.icon-iconic-pause:before { content: '\a871'; } /* 'ꡱ' */
.icon-iconic-stop:before { content: '\a872'; } /* 'ꡲ' */
.icon-iconic-play-circle2:before { content: '\a873'; } /* 'ꡳ' */
.icon-iconic-play:before { content: '\a874'; } /* '꡴' */
.icon-iconic-arrow-curved:before { content: '\a875'; } /* '꡵' */
.icon-iconic-split:before { content: '\a876'; } /* '꡶' */
.icon-iconic-exchange:before { content: '\a877'; } /* '꡷' */
.icon-iconic-mobile:before { content: '\a878'; } /* '꡸' */
.icon-iconic-cd:before { content: '\a879'; } /* '꡹' */
.icon-iconic-equalizer:before { content: '\a87a'; } /* '꡺' */
.icon-iconic-cursor:before { content: '\a87b'; } /* '꡻' */
.icon-iconic-steering-wheel:before { content: '\a87c'; } /* '꡼' */
.icon-iconic-aperture-alt:before { content: '\a87d'; } /* '꡽' */
.icon-iconic-aperture:before { content: '\a87e'; } /* '꡾' */
.icon-iconic-book:before { content: '\a87f'; } /* '꡿' */
.icon-iconic-book-alt:before { content: '\a880'; } /* 'ꢀ' */
.icon-iconic-brush:before { content: '\a881'; } /* 'ꢁ' */
.icon-iconic-brush-alt:before { content: '\a882'; } /* 'ꢂ' */
.icon-iconic-eyedropper:before { content: '\a883'; } /* 'ꢃ' */
.icon-iconic-layers:before { content: '\a884'; } /* 'ꢄ' */
.icon-iconic-layers-alt:before { content: '\a885'; } /* 'ꢅ' */
.icon-iconic-sun:before { content: '\a886'; } /* 'ꢆ' */
.icon-iconic-sun-inv:before { content: '\a887'; } /* 'ꢇ' */
.icon-iconic-cloud:before { content: '\a888'; } /* 'ꢈ' */
.icon-iconic-rain:before { content: '\a889'; } /* 'ꢉ' */
.icon-iconic-flash:before { content: '\a88a'; } /* 'ꢊ' */
.icon-iconic-moon:before { content: '\a88b'; } /* 'ꢋ' */
.icon-iconic-dial:before { content: '\a88c'; } /* 'ꢌ' */
.icon-iconic-pilcrow:before { content: '\a88d'; } /* 'ꢍ' */
.icon-iconic-at:before { content: '\a88e'; } /* 'ꢎ' */
.icon-iconic-hash:before { content: '\a88f'; } /* 'ꢏ' */
.icon-iconic-key-inv:before { content: '\a890'; } /* 'ꢐ' */
.icon-iconic-key:before { content: '\a891'; } /* 'ꢑ' */
.icon-iconic-chart-pie-alt:before { content: '\a892'; } /* 'ꢒ' */
.icon-iconic-chart-pie:before { content: '\a893'; } /* 'ꢓ' */
.icon-iconic-chart-bar:before { content: '\a894'; } /* 'ꢔ' */
.icon-iconic-umbrella:before { content: '\a895'; } /* 'ꢕ' */
.icon-iconic-moon-inv:before { content: '\a896'; } /* 'ꢖ' */