[class^="icon-"], [class*=" icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
 
  /* fix buttons height */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}
 
.icon-mp-search { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb800;&nbsp;'); }
.icon-mp-mail { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb801;&nbsp;'); }
.icon-mp-heart { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb802;&nbsp;'); }
.icon-mp-star { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb803;&nbsp;'); }
.icon-mp-user { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb804;&nbsp;'); }
.icon-mp-user-woman { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb805;&nbsp;'); }
.icon-mp-user-pair { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb806;&nbsp;'); }
.icon-mp-video-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb807;&nbsp;'); }
.icon-mp-videocam { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb808;&nbsp;'); }
.icon-mp-videocam-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb809;&nbsp;'); }
.icon-mp-camera { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb80a;&nbsp;'); }
.icon-mp-th { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb80b;&nbsp;'); }
.icon-mp-th-list { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb80c;&nbsp;'); }
.icon-mp-ok { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb80d;&nbsp;'); }
.icon-mp-cancel { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb80e;&nbsp;'); }
.icon-mp-cancel-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb80f;&nbsp;'); }
.icon-mp-plus { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb810;&nbsp;'); }
.icon-mp-home { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb811;&nbsp;'); }
.icon-mp-lock { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb812;&nbsp;'); }
.icon-mp-lock-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb813;&nbsp;'); }
.icon-mp-article-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb814;&nbsp;'); }
.icon-mp-article { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb815;&nbsp;'); }
.icon-mp-doc { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb816;&nbsp;'); }
.icon-mp-trash { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb817;&nbsp;'); }
.icon-mp-location { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb818;&nbsp;'); }
.icon-mp-question { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb819;&nbsp;'); }
.icon-mp-info { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb81a;&nbsp;'); }
.icon-mp-bell { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb81b;&nbsp;'); }
.icon-mp-attention { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb81c;&nbsp;'); }
.icon-mp-print { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb81d;&nbsp;'); }
.icon-mp-chat { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb81e;&nbsp;'); }
.icon-mp-edit { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb81f;&nbsp;'); }
.icon-mp-pencil-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb820;&nbsp;'); }
.icon-mp-pencil { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb821;&nbsp;'); }
.icon-mp-export { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb822;&nbsp;'); }
.icon-mp-download { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb823;&nbsp;'); }
.icon-mp-thumbs-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb824;&nbsp;'); }
.icon-mp-thumbs-up { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb825;&nbsp;'); }
.icon-mp-tag { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb826;&nbsp;'); }
.icon-mp-eye { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb827;&nbsp;'); }
.icon-mp-rss { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb828;&nbsp;'); }
.icon-mp-wrench { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb829;&nbsp;'); }
.icon-mp-basket { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb82a;&nbsp;'); }
.icon-mp-basket-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb82b;&nbsp;'); }
.icon-mp-calendar { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb82c;&nbsp;'); }
.icon-mp-calendar-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb82d;&nbsp;'); }
.icon-mp-volume-off { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb82e;&nbsp;'); }
.icon-mp-volume-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb82f;&nbsp;'); }
.icon-mp-volume-up { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb830;&nbsp;'); }
.icon-mp-bullhorn { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb831;&nbsp;'); }
.icon-mp-clock { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb832;&nbsp;'); }
.icon-mp-clock-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb833;&nbsp;'); }
.icon-mp-stop { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb834;&nbsp;'); }
.icon-mp-resize-full { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb835;&nbsp;'); }
.icon-mp-resize-small { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb836;&nbsp;'); }
.icon-mp-zoom-in { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb837;&nbsp;'); }
.icon-mp-zoom-out { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb838;&nbsp;'); }
.icon-mp-popup { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb839;&nbsp;'); }
.icon-mp-down-dir { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb83a;&nbsp;'); }
.icon-mp-left-dir { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb83b;&nbsp;'); }
.icon-mp-dollar { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb83c;&nbsp;'); }
.icon-mp-chart-pie { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb83d;&nbsp;'); }
.icon-mp-chart-bar { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb83e;&nbsp;'); }
.icon-mp-chart { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb83f;&nbsp;'); }
.icon-mp-globe { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb840;&nbsp;'); }
.icon-mp-easel { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb841;&nbsp;'); }
.icon-mp-book { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb842;&nbsp;'); }
.icon-mp-grid { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb843;&nbsp;'); }
.icon-mp-cd { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb844;&nbsp;'); }
.icon-mp-ipod { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb845;&nbsp;'); }
.icon-mp-tablet { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb846;&nbsp;'); }
.icon-mp-mobile-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb847;&nbsp;'); }
.icon-mp-mobile { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb848;&nbsp;'); }
.icon-mp-signal { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb849;&nbsp;'); }
.icon-mp-award { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb84a;&nbsp;'); }
.icon-mp-cw { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb84b;&nbsp;'); }
.icon-mp-up { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb84c;&nbsp;'); }
.icon-mp-down { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb84d;&nbsp;'); }
.icon-mp-up-dir { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb84e;&nbsp;'); }
.icon-mp-right-dir { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb84f;&nbsp;'); }
.icon-mp-at { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb850;&nbsp;'); }
.icon-mp-colon { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb851;&nbsp;'); }
.icon-mp-semicolon { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb852;&nbsp;'); }
.icon-mp-squares { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb853;&nbsp;'); }
.icon-mp-money { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb854;&nbsp;'); }
.icon-mp-facebook { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb855;&nbsp;'); }
.icon-mp-facebook-rect { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb856;&nbsp;'); }
.icon-mp-twitter { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb857;&nbsp;'); }
.icon-mp-twitter-bird { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb858;&nbsp;'); }
.icon-mp-twitter-rect { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb859;&nbsp;'); }
.icon-mp-youtube { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xb85a;&nbsp;'); }