[class^="icon-"], [class*=" icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
 
  /* fix buttons height */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}
 
.icon-linecons-music { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe700;&nbsp;'); }
.icon-linecons-search { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe701;&nbsp;'); }
.icon-linecons-mail { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe702;&nbsp;'); }
.icon-linecons-heart { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe703;&nbsp;'); }
.icon-linecons-star { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe704;&nbsp;'); }
.icon-linecons-user { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe705;&nbsp;'); }
.icon-linecons-videocam { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe706;&nbsp;'); }
.icon-linecons-camera { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe707;&nbsp;'); }
.icon-linecons-photo { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe708;&nbsp;'); }
.icon-linecons-attach { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe709;&nbsp;'); }
.icon-linecons-lock { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe70a;&nbsp;'); }
.icon-linecons-eye { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe70b;&nbsp;'); }
.icon-linecons-tag { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe70c;&nbsp;'); }
.icon-linecons-thumbs-up { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe70d;&nbsp;'); }
.icon-linecons-pencil { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe70e;&nbsp;'); }
.icon-linecons-comment { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe70f;&nbsp;'); }
.icon-linecons-location { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe710;&nbsp;'); }
.icon-linecons-cup { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe711;&nbsp;'); }
.icon-linecons-doc { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe712;&nbsp;'); }
.icon-linecons-trash { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe713;&nbsp;'); }
.icon-linecons-note { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe714;&nbsp;'); }
.icon-linecons-cog { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe715;&nbsp;'); }
.icon-linecons-params { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe716;&nbsp;'); }
.icon-linecons-calendar { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe717;&nbsp;'); }
.icon-linecons-sound { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe718;&nbsp;'); }
.icon-linecons-clock { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe719;&nbsp;'); }
.icon-linecons-lightbulb { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe71a;&nbsp;'); }
.icon-linecons-tv { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe71b;&nbsp;'); }
.icon-linecons-desktop { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe71c;&nbsp;'); }
.icon-linecons-mobile { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe71d;&nbsp;'); }
.icon-linecons-cd { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe71e;&nbsp;'); }
.icon-linecons-inbox { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe71f;&nbsp;'); }
.icon-linecons-globe { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe720;&nbsp;'); }
.icon-linecons-cloud { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe721;&nbsp;'); }
.icon-linecons-paper-plane { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe722;&nbsp;'); }
.icon-linecons-fire { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe723;&nbsp;'); }
.icon-linecons-graduation-cap { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe724;&nbsp;'); }
.icon-linecons-megaphone { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe725;&nbsp;'); }
.icon-linecons-key { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe726;&nbsp;'); }
.icon-linecons-database { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe727;&nbsp;'); }
.icon-linecons-beaker { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe728;&nbsp;'); }
.icon-linecons-truck { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe729;&nbsp;'); }
.icon-linecons-money { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe72a;&nbsp;'); }
.icon-linecons-food { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe72b;&nbsp;'); }
.icon-linecons-shop { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe72c;&nbsp;'); }
.icon-linecons-diamond { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe72d;&nbsp;'); }
.icon-linecons-t-shirt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe72e;&nbsp;'); }
.icon-linecons-wallet { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe72f;&nbsp;'); }